.ez-overlay{display:none; position:absolute; z-index:2000; top:50%; left:50%; filter:alpha(opacity=0); -moz-opacity:0; opacity:0; -moz-box-shadow:2px 2px 32px #444; -webkit-box-shadow:2px 2px 24px #444; box-shadow:2px 2px 24px #444; background-color:#FFF; padding:0; margin:0;}
.ez-overlay img,.ez-overlay object{display:block;}
.ez-exit{display:none;position:absolute; z-index:2001; top:0; right:0; width:24px; height:24px; background-image:url(ez-exit-btn.png); cursor:pointer;}
