body {
	color: #333;
	font-family: "FormataBQ", "Arial", Verdana, Tahoma;
	font-size: 14px;
	padding: 0px;
	font-weight: 400;
	margin: 0px auto;
}

input,textarea{outline:none;}

span{
	font-weight:normal;
}

img{
	-ms-interpolation-mode: bicubic;
}
div{
	vertical-align: middle;
	background: transparent;
	outline:none;
}
p{
	font-weight:normal;
}
input,label {
	vertical-align: middle;
}

input[type="image"]:hover{
	opacity: 0.8;
}
textarea.comm_input {
	line-height:20px;
}
textarea {
	font-size:14px;	
}
a:link,a:visited {
	text-decoration: none;
	color: #333;
}
.hover_btn {
	transition: none;
}
.container {
}
ul {
}
ul li {
	margin: 0;
	padding: 0;
}
.cs_i_content ul li {
	list-style: disc inside none;
}
.clear {
	clear: both;
}
.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.max_container {
	max-width: 1200px;
	width:1200px;
	padding: 0px;
	margin: 0px auto;
	position: relative;
}
.half_left {
	width: 50%;
	float: left;
}
.half_right {
	width: 50%;
	float: right;
}
.floatleft {
	float: left;
}
.lazyimg {
}
.hide_div {
	display: none;
}
/*----------------------------------------------------------------------------------------------*/
#top_breadcrumb {
	float: left;
}
#top_breadcrumb a {
}
#top_breadcrumb a:hover {
	color:#669463;
}
.detail_page_navigation {
	margin: 0 0 0px 0;
	height:35px;
	line-height:35px;
	background-color:#EBEBEB;
	padding-left:20px;
}
.comm_input {
	border: 1px solid #D4D4D4;
	border-radius: 4px;
	font-size: 18px;
	height: 42px;
	line-height: 40px;
	padding: 0 5px;
}
.msdropdown {
	display: none;
}
.img_hover:hover {
	opacity: 0.8;
}