.content{
    margin: 0px auto;
    margin-top:30px;
    min-height:300px;
    font-weight:400;
    max-width: 1200px;
	width:1200px;
	padding: 0px;
	position: relative;
}

.content a, .content a:visited{
	font-weight:400;
}

#id_create_popup_ex{
}

.content:before, .content:after {
    content: " ";
    display: table;
}
.content:after {
    clear: both;
}


.h_title{
    color:#f07b36;
    font-size:2.1em;
    width:100%;
}



.logo_container{
    min-height: 200px;
    line-height: 200px;
    text-align: center;
}


.logo_item{
    background: url('../images/homepage/logo-item-bg.png?1399636495') no-repeat -47px -47px transparent;
    width: 115px;
    height: 115px;
    cursor: pointer;
    margin-left: -30px;
    display: inline-block;
    position: relative;
}

.logo_item img{
    width: 70%;
}

.logo_item td{
	width:100%;
	height:115px;
}

.logo_item:hover{
    background: url('../images/homepage/logo-item-bg.png?1399636495') no-repeat -12px -225px transparent;
    width: 190px;
    height: 190px;
    cursor: pointer;
    margin-left: -53px;
    margin-right:-52px;
}

.logo_item:hover img{
}

.logo_item:hover td{
	width:100%;
	height:190px;
}


.left {
    clear: both;
    float: left;
    padding: 0;
    width: 170px;
}


.common_title{
    font-size:26px;
    font-weight:normal;
}


.cs_i_c_title {
    color: #f07b36;
    font-size: 24px;
    margin: 0 0 10px;
}

.cs_i_c_content {
    font-size: 14px;
    line-height: 20px;
}
.word_break {
    text-align: justify;
}

.cms .cv_right{
}


.btn_continue_shopping{
    background: url("../images/buttons/btn_config_item.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
	background:#f0752f;
	color:#fff;
	text-align:center;
    height: 35px;
    line-height: 35px;
    width: 200px;
	font-size:20px;
	cursor:pointer;
}

.btn_continue_shopping:hover{
}


.btn_checkout{
    background: url("../images/buttons/cart-button-checkout.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 37px;
    width: 239px;
}

.btn_checkout:hover{
    background-position: center bottom;
}


.btn_continue{
     background: url("../images/buttons/button_continue.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
     display: inline-block;
     height: 48px;
     width: 133px;
 }

.btn_continue:hover{
    opacity:0.8;
}


.btn_back{
    background: url("../images/buttons/process-button-goback.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 45px;
    width: 135px;
}

.btn_back:hover{
    background-position: center bottom;
}

.btn_save{
    background: url("../images/buttons/account-manageaddress-button-save.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 38px;
    width: 78px;
}

.btn_save:hover{
    background-position: center bottom;
}


.btn_write_review{
    background: url("../images/buttons/detail-tabs-review-button-writereview.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height:63px;
    width: 172px;
}

.btn_write_review:hover{
    background-position: center bottom;
}

.button_submit .btn_write_review_link{
	background: url("../images/icon_write_review.png") no-repeat scroll 0 8px rgba(0, 0, 0, 0);
    display: inline-block;
    padding-left:15px;
    height:30px;
    font-size:13px;
    color: #f07b36;
}

.btn_print{
    background: url("../images/buttons/button_print_this_form.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
	background:#f0752f;
	color:#fff;
	text-align:center;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    width: 200px;
	font-size:20px;
	cursor:pointer;
}

.btn_print:hover{
}


.btn_edit{
    background: url("../images/buttons/button_edit.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
	background:#373737;
	color:#fff;
    display: inline-block;
    height: 33px;
    line-height: 33px;
    width: 60px;
	text-align:center;
	font-size:14px;
	cursor:pointer;
}

.btn_edit:hover{

}
.cs_i_center{
	margin:0px auto;
	text-align:left;
}

.cs_i_list_item a:link, .cs_i_list_item a:visited{
	font-size:15px;
	line-height:30px;
}

.cs_i_list_item a:hover{
	color:#f07b36;
}

.cs_i_list_item_content{
	display:none;
}
.shopping_cart {
	margin-top:147px;
}
.team_ss_search_title{
	margin:0px auto 51px auto;
	background:url(../images/team_ss_search_title.png) no-repeat center top;
	border:0px solid red;
	height:24px;
}
.team_ss_search_content{
	width:939px;
	margin:-36px auto 30px auto;
}
.team_ss_search_content.subcategory{
	margin:0px auto 30px auto;
}
.team_ss_search_text{
	margin:0px auto;
	height:48px;
	line-height:48px;
	padding:0 20px;
	border:1px solid #EEEEEE;
	background-color:#EEEEEE;
	width:calc(90% - 5px);
	display: inline-block;
	box-sizing:border-box;
}
#team_ss_search_form .btn_login {
	color:#fff;
	height:50px;
	line-height:50px;
	width: 10%;
	display: inline-block;
}


.teamtg_menu > a {
	margin-right:50px;
}


.team_ss_whatnew_title{
	margin:0px auto 15px auto;
	background:url(../images/team_ss_whatnew_title.png) no-repeat center top;
	border:0px solid red;
	height:24px;
}
.team_ss_whatnew_content{
	margin:0px auto 45px auto;
	border:0px solid red;
	width:938px;
	padding:15px 15px 15px 15px;
	background-color:#fff;
	text-align:left;
}
.cs_whatnew_title,.cs_whatnew_title a{
	color:#010000;
	font-weight:bold;
	font-size:14px;
}
.cs_whatnew_text{
	margin:6px 0px 15px 0px;
	padding:0px 0px 10px 0px;
	border-bottom:1px solid #D9D9D9;
}
.team_ss_whatnew_content .cs_whatnew_text:last-child{
	border:0px;
	padding:0px;
	margin-bottom:0px;
}
.teamss_sub_title {
	padding:2px 0px 2px 30px;
	margin:0px;
	color:#4f4e4e;
	border-left:0px;
	cursor:pointer;
	border-bottom:0px;
}
.teamss_sub_title:first-child{
}
.teamss_sub_title.selected {
	color:#669463;
}
#teamss_articles_list{
	width:73%;
	min-height:120px;
    float: left;
	margin:-20px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
#teamss_articles_list.noleft {
	width:100%;
}
.nc_news_one_item{
	margin:15px 0px 10px 0px;
}
.nc_news_one_item .title{
	background-color:#EEEEEE;
	height:60px;
	/*line-height:50px;*/
	padding:6px 14px;
	margin:0;
	/*float:left;*/
}
.nc_news_one_item .title:first-child{
	margin:0px 0px 0px 0px;
	padding-left:12px;
}
/*.nc_news_one_item .title.file_name{
	width:324px;
}*/
.nc_news_one_item .title.file_keywords{
	width:180px;
}
.nc_news_one_item .title.file_uploaded{
	width:126px;
	text-align:center;
	padding:6px 0px;
}

/*.file_title{
	width:235px;
}*/

/*.noleft .news_one_item .text.file_name {
    width:595px;
}*/
/*.noleft .file_title{
	width:435px;
}*/

.nc_news_one_item .title.file_size{
	width:78px;
	text-align:center;
}
.nc_news_one_item .title.file_type{
	width:60px;
	text-align:center;
}
.nc_news_one_item .title.file_links{
	text-align:center;
	width:140px;
	padding:6px 0px;
}

/*.noleft .nc_news_one_item .title.file_name{
	width:593px;
}*/

.cs_i_center .news_one_item{
	background-color:#fff;
}

.cs_i_center .news_one_item:nth-child(even){
	background-color:#ffffff;
}
.cs_i_center .news_one_item:nth-child(odd){
	background-color:#fff;
} 

table#table {
	width: 100%;
}
.news_one_item .text{
	/*float:left;*/
	/*padding:6px 14px;*/
	/*margin:0px;	*/ 
    margin-bottom: 15px;
    vertical-align: middle;
    width: 60%;
}
.news_one_item .text:first-child{
	/*margin:0px 0px 0px 0px;*/
	/*padding:6px 26px 6px 0px;*/

}
.teamtg_menu-holder {
		line-height:60px;
	}
/*.news_one_item .text.file_name{
	width:324px;
}*/
.news_one_item .text.file_keywords{
	width:180px;
}
.news_one_item .text.file_uploaded{
	width:126px;
	text-align:center;
	/*padding:6px 0px;*/
}

.news_one_item .text.file_size{
	width:78px;
	text-align:center;
}
.news_one_item .text.file_type{
	width:60px;
	text-align:center;
}
.news_one_item .text.file_links{
	text-align:center;
	width:140px;
	padding:10px 0px;
	float:right;
	margin-right:-1px;
}
.cs_i_nav_offsets {
	margin: 15px 0px 10px 0px;
	color:#8B8B8B;
}
@-moz-document url-prefix(){
	.cs_i_nav_offsets {
		margin: 0px 0px 30px 0px;
	}
}

.teamss_breadcrumbs {
	border:0px solid red;
	text-align:left;
	width:980px;
	margin:-10px auto 42px auto;
	height:30px;
}
.teamss_breadcrumbs a {
	font-weight:400;
}
.teamss_breadcrumbs a.hover,.teamss_breadcrumbs a:hover {
	color:#f07b36;
	font-weight:400;
}
