﻿@font-face
{
	font-family: FormataBQ;
	src: url('../fonts/FormataBQReg.eot');
	src: url('../fonts/FormataBQReg.eot?#iefix') format("embedded-opentype"),
		url('../fonts/FormataBQReg.ttf') format("opentype");
}


@font-face {
	font-family: 'FormataBQ';
	src: url('');
	src: local('☺'), url('../fonts/FormataBQReg.woff') format('woff'), url('../fonts/FormataBQReg.ttf') format('truetype'), url('../fonts/FormataBQReg.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
