.product_items_grid {
    display:inline-block;
    position: relative;
    width: 384px;
    height:384px;
    margin-right: 24px;
    margin-top: 45px;
    z-index:0;
    float:left;
}

.product_list_div .product_items_grid{
	margin-right: 24px;
}

.product_list_div .product_items_grid:nth-child(3n){
	margin-right:0;
	float:right;
}

#featured_products .product_items_grid:nth-child(5n){
	margin-right:0;
	float:right;
}

.slider_product .product_items_grid{
}

.product_items_grid:hover{
}

.product_items_grid .product_grid_title:hover, .product_items_grid .product_grid_desc:hover{
	opacity:0.8;
}
.product_list_grid{
	padding:0px;
}

.product_items_grid.last_item{
	margin-right:0;
	float:right;
}


.product_img_bg{
	width: 384px;
    height:378px;
	border-bottom:none;
}

.product_grid_btn_bg{
	text-transform: uppercase;
	font-weight: bold;
	color:#fff;
	width:258px;
	height:31px;
	line-height:31px;
	background: url('../images/grid_view_bg.png?1399636495') no-repeat 0 0px transparent;
}

.product_grid_btn_bg a:link, .product_grid_btn_bg a:visited{
	color: #fff;
}

.product_grid_btn_bg a:hover{
	opacity: 0.8;
}

.product_img_grid {
    position: relative;
    text-align: center;
    display:table-cell;
    vertical-align: top;
    width: 384px;
    height:378px;
}

.product_list_grid_related .product_img_grid{
	min-height: 145px;
}

.product_grid_title{
	color:#1E62A8;
	font-weight:bold;
	font-size:17px;
	text-align:center;
	padding:10px;
	background-color:#F4F4F4;
	border-bottom:2px solid #CBCBCB;
	min-height:110px;
}

.product_grid_desc{
	color:#979797;
	font-size:14px;
	padding:10px 0;
	min-height:71px;
}

.product_item{
	width:100%;
	height:100%;
	z-index:20;
    position:relative;
}

.special_product_img{

}



.new_product_img {
    background: url("../images/product_flag.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 55px;
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
}

.product_grid_description{
    height:55px;
    overflow: hidden;
    line-height:16px;
}

.product_list_grid_related .product_grid_description{
    height:85px;
}

.product_text{
    padding:5px 10px 0 10px;
}

.product_text_left{
    margin-top:5px;
}

.list_star{
	height:20px;
    line-height: 30px;
    position:relative;
    cursor:pointer;
}

.product_grid_review{

}

.product_price {
    color: #f07b36;
    float: left;
    font-size: 14px;
}

.product_msrp,.product_msrp1{
    color: #666;
    text-decoration: line-through;
}

.product_msrp1{
	font-size:18px;
}

.msrp_price{
	text-decoration: line-through;
}

.product_ourprice {
    color: #f07b36;
}



.product_option_button{
    position: absolute;
    padding-bottom: 0px;
    width: 100%;
    left: 0;
    bottom: 10px;
    display: block;
    opacity:1;
    border-radius: 7px;
	z-index:10;
	background-color:#BBBBBB;
}

.product_option_button.shadow{
	box-shadow: 0 0 15px 5px #BBBBBB;
}

.product_items_grid:hover .product_option_button{
}

.button_add_to_cart{
    float: left;
}

.product_grid_addcart_btn{
    background: url('../images/buttons/listing-item-button-cart.png?1399636495') no-repeat 0 0px transparent;
    width: 175px;
    height:44px;
    display: inline-block;
    background-position: left bottom;
}

.product_grid_addcart_btn:hover{
    background-position: left top;
}


.product_list_grid_related .product_grid_addcart_btn{
    background: url('../images/buttons/listing-item-button-cart2.png?1399636495') no-repeat 0 0px transparent;
    width: 90px;
    height:44px;
    display: inline-block;
    background-position: left bottom;
}

.product_grid_view_btn{
    background: url('../images/buttons/listing-item-button-viewoption.png?1399636495') no-repeat 0 0px transparent;
    width: 175px;
    height:44px;
    display: inline-block;
    background-position: left bottom;
}

.product_grid_view_btn:hover{
    background-position: left top;
}

.product_list_grid_related .product_grid_view_btn{
    background: url('../images/buttons/listing-item-button-viewoption2.png?1399636495') no-repeat 0 0px transparent;
    width: 90px;
    height:44px;
    display: inline-block;
    background-position: left bottom;
}

.checkboxfav {
    background: url("../images/buttons/listing-item-button-wishlist.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #808080;
    cursor: pointer;
    float: right;
    font-size: 13px;
    height: 44px;
    width: 54px;
}

.checkboxfav:hover{
	background-position:left bottom;
}


.product_list_grid:before, .product_list_grid:after {
    content: " ";
    display: table;
}
.product_list_grid:after {
    clear: both;
}

.prev_page {
    background: url("../images/buttons/left_arrow.png?t=2") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    width:20px;
    display:inline-block;
    color:#f07b36;
}

.prev_page.active{
	background: url("../images/buttons/left_arrow_active.png?t=2") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	color:#BFBFBF;
}

.next_page {
    background: url("../images/buttons/right_arrow.png?t=2") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    width: 20px;
    display:inline-block;
    color:#f07b36;
}
.next_page.active{
	background: url("../images/buttons/right_arrow_active.png?t=2") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	color:#BFBFBF;
}

.page_nav_wrapper{
    position: relative;

}
.page_nav_wrapper:before, .page_nav_wrapper:after {
    content: " ";
    display: table;
}
.page_nav_wrapper:after {
    clear: both;
}

.page_nav_div {
    color: #4D4D4D;
    font-size: 16px;
    min-height: 60px;
    width: 100%;
}



/*----------------------------------------------------------------------------------------------*/



.product_items_list{
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 0 6px #CECECE;
    float: left;
    margin-bottom: 20px;
    padding: 5px;
    position: relative;
    background-color: #fff;
    width: 100%;
}

.product_items_list:hover{
    box-shadow: 0 0 15px 5px #BBBBBB;
}


.product_items_list:before, .product_items_list:after {
    content: " ";
    display: table;
}
.product_items_list:after {
    clear: both;
}

.product_img_list {
    background: url("../images/loading.gif") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
    margin: 0 auto;
    min-height: 175px;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}


.product_items_list_l, .product_items_list_m, .product_items_list_r{
    float: left;
}

.product_items_list_l{
    width: 25%;
}

.product_items_list_m{
    width: 50%;
    padding:20px 20px;
    border-right: 1px solid #ccc;
}

.product_items_list_r{
    width: 25%;
    padding: 20px;
}

.product_description_short, .product_description_long{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 14px;
}


.review_count{
    font-weight: bold;
    font-size: 16px;
    color: #A9A9A9;
    margin-left: 20px;
}

.product_list_comments_l{
    line-height: 30px;
    height: 40px;
}

.product_list_review_btn{
    background: url('../images/buttons/listing-item-icon-reviews.png?1399636495') no-repeat 0 0px transparent;
    width: 28px;
    height:28px;
    display: inline-block;
}

.product_list_review_btn:hover{
    background-position: center bottom;
}

.product_list_addcart_btn{
    background: url('../images/buttons/list-item-button-cart.png?1399636495') no-repeat 0 0px transparent;
    width: 177px;
    height:41px;
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.product_list_addcart_btn:hover{
    background-position: center bottom;
}

.product_list_view_btn{
    background: url('../images/buttons/list-item-button-options.png?1399636495') no-repeat 0 0px transparent;
    width: 177px;
    height:41px;
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.product_list_view_btn:hover{
    background-position: center bottom;
}



.product_items_list .checkboxfav {
    background: url("../images/buttons/list-item-button-wishlist.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #808080;
    cursor: pointer;
    float: left;
    font-size: 13px;
    height: 41px;
    width: 57px;
}

.product_items_list .checkboxfav:hover{
    background-position: center bottom;
}


.product_ourprice1{
    font-size: 18px;
    color: #f07b36;
}
/*----------------------------------------------------------------------------------------------*/


.category_overview{
    margin-bottom: 20px;
    background-color: #f07b36;
    margin-right: 0px;
    border-radius:5px;
}

.category_description{
    float: left;
    width: 50%;
}
.cate_nav{
    width: 50%;
    float: left;
    background-color: #f07b36;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding:20px 30px;
}

.cate_nav a:link, .cate_nav a:visited{
    color: #fff;
    font-size: 16px;
}

.cate_nav a:hover{
    opacity: 0.8;
}

.cate_title{
    color: #fff;
    font-size: 2.1em;
    width: 100%;
    margin-bottom:20px;
}

.cate_nav .sub_item{
    float: left;
    width: 50%;
}


.cate_nav .sub_item.active a:link, .cate_nav .sub_item.active a:visited{
    color:#fff;
    font-weight:bold;
}



/*----------------------------------------------------------------------------------------------*/


.cate_view{
    background: url('../images/buttons/category-filter-view-bg.png?1399636495') no-repeat 0 0px transparent;
    width: 115px;
    height: 40px;
    padding:2px 4px;
}

.grid{
    background: url('../images/buttons/category-filter-view-icon-grid-link.png?1399636495') no-repeat 0 0px transparent;
    width: 48px;
    height: 36px;
    display: inline-block;
}

.grid_active{
    background: url('../images/buttons/category-filter-view-icon-grid-active.png?1399636495') no-repeat 0 0px transparent;
    width: 48px;
    height: 36px;
    display: inline-block;
}

.list{
    background: url('../images/buttons/category-filter-view-icons.png?1399636495') no-repeat 0 0px transparent;
    width: 48px;
    height: 36px;
    display: inline-block;
    float: right;
}
.list_active{
    background: url('../images/buttons/category-filter-view-icons.png?1399636495') no-repeat 0 -36px transparent;
    width: 48px;
    height: 36px;
    display: inline-block;
    float: right;
}


/* detail----------------------------------------------------------------------------------------------*/


.product_info {
    margin: 0px 0 0 0px;
    padding: 0px;
    border: 0px solid #dddddd;
}

.product_info_l {
    margin: 0px;
}


.product_name {
    font-size: 22px;
    font-weight:bold;
    line-height: 28px;
    color:#f07b36;
    text-transform:capitalize;
}
.p_upc_isbn_ean{
	background-color:#434343;
	padding:10px 15px;
	color:#fff;
}
.product_text_option{
    text-transform: capitalize;
    color: #f07b36;
    line-height: 25px;
}

.product_name span {
    font-size: 16px;
    color: #56191a;
}

.product_info_inner_l {
    float: left;
    position: relative;
}

.product_info_inner_r {
    float: right;
    width: 675px;
    margin: 0px;
    position: relative;
}

.product_img_regional {
}

.detail_product_img {
    background-color: #FFFFFF;
    border:1px solid #ccc;
    height:432px;
    width:492px;
    vertical-align: middle;
    text-align: center;
    position: relative;
    display: table-cell;
}

.button_click_to_enlarge {
    color: #808080;
    font-size: 12px;
    float: left;
    text-transform: uppercase;
    margin-left: 10px;
}

.thumbnail {
    text-align: left;
}

.thumbnail a {
    float: left;
    margin-right: 16px;
    width: 72px;
    height: 72px;
}

.thumbnail a img {
    border: 1px solid #babcbe;
}

.thumbnail a:hover img {
    border: 1px solid #b16169;
}

.latest_reviews_tit {
    color: #0066cc;
    font-size: 11px;
    line-height: 21px;
    border-bottom: 1px solid #d6d8d9;
    padding: 10px 0;
}

.latest_reviews_tit h2 {
    float: left;
    font-size: 18px;
    color: #22436c;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 0;
    margin-right: 10px;
}

.latest_reviews_info {
    padding: 16px 0 10px 0;
    font-size: 12px;
    line-height: 18px;
    color: #414141;
    border-bottom: 1px solid #d6d8d9;
}

.latest_reviews_info_tit {
    margin-bottom: 10px;
}

.latest_reviews_info_tit span {
    color: #0066cc;
}

.latest_reviews_info_tit_a {
    float: left;
    margin: 0 5px 0 0;
}



.customer_reviews_line {
    color: #0066cc;
    font-size: 12px;
    line-height: 21px;
    margin-bottom: 10px;
}

.customer_reviews_line h5 {
    float: left;
    font-size: 11px;
    margin: 1px 5px 0 0;
}

.customer_reviews_line img {
    float: left;
    margin-right: 5px;
    margin-top: 0px;
}

.free_shipping_line {
    margin: 10px 0 5px 0;
}

.text_line1, .text_line2 {
    color: #6d6e70;
    font-size: 12px;
    line-height: 20px;
    xborder-bottom: 1px solid #d6d8d9;
    padding: 12px 0;
}

.text_line1 div {
}

.text_line1 p {
}

.text_line1 hr {
}

.text_line1 div a, .text_line1 li a, .text_line1 p a, .text_line1 span a {
    text-decoration: underline;
}

.text_line1 li {
    list-style-image: none;
    list-style-position: inside;
    list-style-type: inherit;
}

.text_line1 h1 {
    font-size: 20px;
    font-weight: bold
}

.text_line1 h2 {
    font-size: 18px;
    font-weight: bold
}

.text_line1 h3 {
    font-size: 16px;
    font-weight: bold
}

.text_line1 h4 {
    font-size: 14px;
    font-weight: bold
}

.text_line1 h5 {
    font-size: 12px;
    font-weight: bold
}

.text_line1 table {
    width: 100%;
    border-collapse: collapse;
}

.text_line1 td {
    border: 1px solid #D6D8D9;
    padding: 2px;
    word-wrap: break-word;
}

.text_line2 ul {
    margin: 0;
}

.share_img {
    margin: 10px 0;
}

.product_info_tab_description {
    color: #6d6e70;
    font-size: 12px;
    line-height: 20px;
    padding: 12px 0;
}

.product_info_tab_description div {
}

.product_info_tab_description p {
}

.product_info_tab_description hr {
}

.product_info_tab_description div a, .product_info_tab_description li a, .product_info_tab_description p a, .product_info_tab_description span a {
    text-decoration: underline;
}

.product_info_tab_description li {
    list-style-image: none;
    list-style-position: inside;
    list-style-type: inherit;
}

.product_info_tab_description h1 {
    font-size: 20px;
    font-weight: bold
}

.product_info_tab_description h2 {
    font-size: 18px;
    font-weight: bold
}

.product_info_tab_description h3 {
    font-size: 16px;
    font-weight: bold
}

.product_info_tab_description h4 {
    font-size: 14px;
    font-weight: bold
}

.product_info_tab_description h5 {
    font-size: 12px;
    font-weight: bold
}

.product_info_tab_description table {
    width: 100%;
    border-collapse: collapse;
}

.product_info_tab_description td {
    border: 1px solid #D6D8D9;
    padding: 2px;
    word-wrap: break-word;
}

#id_product_qty.comm_input{
    width:55px;
    text-align:center;
    height: 37px;
    line-height: 37px;
    font-weight: bold;
    background-color:#EBEBEB;
    border:2px solid #ddd;
    border-radius:0;
    margin:0;
}



.ext_img_added_selected, .ext_img_added {
    cursor: pointer;
    float: left;
    height: 60px;
    margin: 0 5px 0 0;
    text-align: center;
    width: 65px;
}

.detail_product_img .wish_heart {
    background: url("../images/buttons/detail-photo-wishlist.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    width: 62px;
    height: 57px;
    position: absolute;
    right: 2px;
    top: 2px;
}

.wish_heart.selected{background-position:center bottom;}

.product_items_list .wish_heart{
	position:relative;
}
.p_thumbnail_selected, .p_thumbnail_normal {
    border: 1px solid #ccc;
    float: left;
    width: 105px;
    height: 78px;
    margin: 0px 8px 8px 0px;
    background-color: #fff;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    position: relative;
}

.p_thumbnail_selected {
    border: 1px solid #f07b36;
}

#id_customer_review a{
    color: #f07b36;
    font-size: 16px;
    font-weight: bold;
}

.product_detail_review_btn{
    background: url('../images/buttons/detail-icon-reviews.png?1399636495') no-repeat 0 0px transparent;
    width: 35px;
    height:18px;
    display: inline-block;
    margin:0 10px;
}


.product_detail_addcart_btn{
    background: url('../images/buttons/detail-button-addtocart.png?1399636495') no-repeat 0 0px transparent;
    width: 185px;
    height:52px;
    display: inline-block;
    cursor: pointer;
}

.product_detail_addcart_btn:hover{
    background-position: center bottom;
}


/*----------------------------------------------------------------------------------------------*/

.tab_nav.products {
    position: relative;
    margin-top: 20px;
}

.tab_nav.products ul {
    margin: 0;
    padding: 0;
}

.tab_nav.products ul li {
	padding:10px 30px;
    text-align: center;
    float: left;
    list-style: none;
    position: relative;
	border:1px solid #dfdfdf;
	border-left:0px;
	border-bottom:0px;
}
.tab_nav.products ul li.one {
	border-left:1px solid #dfdfdf;
}

.tab_nav.products ul li.selected{
	background:#434343;
	color:#fff;
}

.tab_nav.products ul li:first-child {
    margin-left: 0;
}

.tab_nav.products ul li:first-child a:link {
}

.tab_nav.products ul li:first-child a:hover {
}

.tab_nav.products ul li:first-child a:visited {
}

.tab_nav.products ul li:first-child a:active {
}

.tab_nav.products ul li.two a:link {
}

.tab_nav.products ul li.two a:visited {
}

.tab_nav.products ul li.two a:hover {
}

.tab_nav.products ul li.two a:active {
}

.tab_nav.products ul li a:link {
    color: #333;
    font-size: 14px;
}

.tab_nav.products ul li a:visited {
}

.tab_nav.products ul li a:hover {
}

.tab_nav.products ul li a:active {
}

.tab_nav.products ul li.selected a:link {
	font-size: 14px;
	color: #fff;
}

.tab_nav.products ul li.selected a:visited {
}

.tab_nav.products ul li.selected a:hover {
}

.tab_nav.products ul li.selected a:active {
}


.items_list_products .items_list_content {
    color: #333;
    line-height: 20px;
    z-index: -1;
    top: 15px;
    padding-right: 10px;
}

.items_list_content ul, .cs_i_content ul{
	padding: 0 40px;
}

.items_list_content ul li,.cs_i_content ul li{
	list-style-image: none;
	list-style-type: disc;
}

.items_list_products .items_list_content.selected {
    z-index: 1;
}


.items_list_products {
    top: 2px;
    padding: 25px;
    border:1px solid #dddddd;
}

.items_list_content {
    margin-left: 0;
    display: none;
}

.items_list_content.selected {
    margin-left: 0;
    display: block;
}

.product_tab_nav{
    margin-bottom: 20px;
}


/*----------------------------------------------------------------------------------------------*/

.also_like_tit{
    color:#f07b36;
    font-size:20px;
    font-weight: bold;
    width:100%;
    text-align:center;
    text-transform: uppercase;
    padding:10px 0;
    margin-top:60px;
}




/*-------------popup cart---------------------------------------------------------------------------------*/
.sc {
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    position: absolute;
    right: 20px;
    top: 35px;
    width: 290px;
    z-index: 999;
}


.sc_t {
    height: 5px;
    width: 290px;
    background-color: #f07b36;
}


.popup_shopping_cart {
    overflow: auto;
    width: 290px;
    max-height:400px;
}

.sc_e {
    height: 5px;
    width: 290px;
}

.popup_shopping_cart table tr {

}


.popup_shopping_cart table td {
    padding: 4px 4px 0;
    border-top: 1px solid #ccc;
}
.cart_info table th, .cart_info table td, .popup_shopping_cart table td, .cart_info1 table th, .cart_info1 table td {
    color: #333333;
    font-size: 12px;
    text-align: center;
}

.cart_info_product_img.popup {
    height: 50px;
    width: 60px;
}
.cart_info_product_img {
    background-color: #FFFFFF;
    float: left;
    text-align: center;
    margin: 0 10px;
    min-width:107px;
}

.popup_shopping_cart  .cart_info_product_img{
	min-width:60px;
	margin: 0px;
}

.cart_info_product_img.popup a:link {
    margin-top: 0;
    width: 60px;
}


.pop_cart_info_product_desc {
    float: left;
    margin-left: 10px;
    overflow: hidden;
    text-align: left;
    width: 150px;
}

.btn_cart_del {
    background: url("../images/popup_cart_close.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 22px;
    width: 22px;
}

.sc_line {
    margin-top: 10px;
}


#id_cart_box a.sc_checkout:link {
    background: url("../images/buttons/btn_pop_checkout.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 30px;
    margin-top: 10px;
    width: 120px;
}

#id_cart_box a.sc_checkout:hover{
    opacity: 0.8;
}

#id_cart_box .pop_cart_info_product_desc a:link,
#id_cart_box .pop_cart_info_product_desc a:visited{
    color: #f07b36;
    float: none;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
}


.sc_subtotal{
    font-size:15px;
}




/*------------- cart table---------------------------------------------------------------------------------*/

.cart_info.process_cart {
    margin-top: 20px;
}

.cart_info.process_cart th {
    border: 0 none;
    color: #4D4D4D;
    font-size: 16px;
    font-weight:normal;
}

.cart_info table tr {
    border: 1px solid #CCCCCC;
    background-color: #fff;
}

.cart_info table tr:first-child{
    background:none;
}

.cart_info.process_cart td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #CCCCCC;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
}
.cart_info table th, .cart_info table td, .popup_shopping_cart table td, .cart_info1 table th, .cart_info1 table td {
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    color: #333333;
    font-size: 14px;
    padding: 10px;
    text-align: center;
}

.cart_info.process_cart input[name="cart_quantity[]"] {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #B3B3B3;
    border-radius: 5px;
    color: #404041;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 50px;
    text-align: center;
}

 .cart_info_product_desc .p {
    line-height: 20px;
    text-align:left;
}

.cart_info_product_desc .p .l {
    width: 100px;
}
.cart_info_product_desc .p .l,.cart_info_product_desc .p .r {
    color: #666666;
    display: inline-block;
    font-size: 14px;
    text-transform: capitalize;
}



 .cart_info_product_desc .p .r {
    
}
.cart_info_product_desc .p .r {
}



#id_shipping_calculate {
    padding-top: 30px;
}

.shipping_charge_calculator table td {
    color: #333333;
    font-size: 14px;
    text-align: left;
}

.shipping_info_table table th {
    text-align: left;
}

.shipping_charge_calculator h2{
    font-size:18px;
    margin-bottom:20px;
}

.shipping_calc {
    float: left;
}

.shipping_list{
    float: right;
}


/*------------- process checkout ---------------------------------------------------------------------------------*/


.payment_process {
    float: left;
    width: 100%;
}

.payment_method_info .title {
    font-size: 22px;
    padding: 7px 30px;
    text-shadow: none;
}

.billing_address_info, .shipping_address_info {
    height: auto;
    padding: 20px;
}

.billing_address_info {
    float: left;
    width: 480px;
}


.billing_address_info, .shipping_address_info {
    height: auto;
    padding: 1px;
}
.shipping_address_info {
}

.payment_process h4, .address_gifts h4 {
    font-size: 16px;
    font-weight: bold;
    margin:0;
	padding:0px 0px;
	height:30px;
	line-height:30px;
}

.same_billing_address {
    background: url("../images/buttons/checkbox-unselected.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #fff;
    cursor: pointer;
    float: left;
    height: 16px;
    line-height: 16px;
    margin-top: 6px;
    padding-left: 25px;
}

.same_billing_address.same{
    background: url("../images/buttons/checkbox-selected.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}


.select_address {
    font-size: 14px;
    line-height: 23px;
    margin: 15px 0;
}


.text {
    color: #333333;
    font-size: 13px;
    line-height: 22px;
}

.border_select.address {
    max-width: 582px;
}

.margin_top1 {
    margin-top: 12px;
    position: relative;
}

.payment_process input[type="text"], .payment_process select , .payment_process textarea{
    background-color: #ededed;
    border: 1px solid #ededed;
    font-family: "FormataBQ","Arial",Verdana,Tahoma;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    margin: 0;
    padding-left: 10px;
    width: 500px;
}

.payment_process input[type="radio"] {
    width:10px;
}


.select_address_l, .select_address_r {
    float: left;
}


.select_address_r {
    margin-left: 10px;
    position: relative;
}
.select_address_l, .select_address_r {
    float: left;
    position: relative;
}

.textbox6 {
    margin-right: 0;
    width: 138px;
}

.textbox4, .textbox5, .textbox6, .textbox7, .textarea_css2, .textarea_css3, .textarea_css4, .textbox9, .textarea_css5, .textarea_css6 {
    border: 1px solid #B4B4B4;
    color: #4E4E4E;
    font-size: 13px;
    height: 23px;
    margin-right: 16px;
    width: 583px;
}

.textbox6 {
    margin-right: 0;
    width: 282px;
}

.payment_process select{
}

.payment_process img:hover{
    opacity: 0.8;
}

.payment_process select, #id_form_for_modify_customer select {
}



.payment_process .cart_info1 table th {
    border: 0 none;
    color: #333333;
    font-size: 16px;
    font-weight: normal;
    padding: 0;
    text-align: left;
}



.payment_process .cart_info1 table tr:first-child {
    border: medium none;
}

.payment_process .cart_info1 table td {
    border: 0 none;
    padding: 0;
    text-align: left;
}

.cart_info1 table tr {
    border: 0px solid #CCCCCC;
	font-size:13px;
}
.cart_info1 table tr td {
   padding:1px 5px;
   height:28px;
   line-height:28px;
}

.cart_info1 table tr:first-child{
    background:none;
}
.cart_info1 table tr:nth-child(even){
    background:#F7F7F7;
}

.shipping_methods  {
    padding: 15px 12px 5px;
    float:right;
    width:450px;
    font-weight:400;
}

.payment_option{

}

.summary_box{
	width:450px;
	display:inline-block;
	border:1px solid #cccccc; 
	padding:10px;
	border-radius: 5px;
	min-height:114px;
}

.cart_option_info {
    margin-top: 0px;
}

.cart_option_info table td{
	font-size:16px;
}

.cart_option_info_r {
    margin: 0 auto;
    text-align: right;
    max-width: 465px;
    font-size:16px;
    float:right;
     width:100%;
}

.textarea_css3 {
    height: 90px;
    line-height: 16px;
    margin-right: 0;
    padding: 5px;
    resize: none;
    width: 100%;
}



/*------------- order info ---------------------------------------------------------------------------------*/

.payment_process {
    color: #333333;
}

.payment_method_text1 {
    font-size: 14px;
    font-weight: normal;
    margin: 10px 0 0;
}

.payment_method_info {
    width:100%;
}

.payment_method_info p{
	margin: 0;
}

.shipping_address_info1 {
    height: auto;
}

.billing_address_info1, .shipping_address_info1 {
    float: left;
    height: auto;
    margin-top: 10px;
    padding: 0;
    width: 49%;
    min-height: 200px;
}


.billing_address_info1 {
    float: right;
}


.cart_info1 {
    font-size: 18px;
    margin: 15px 0;
}


.payment_process .cart_info1 table th {
    border: 0 none;
    color: #4D4D4D;
    font-weight: bold;
    text-align: left;
    text-transform:uppercase;
    font-size:14px;
    line-height:35px;
    padding: 1px 5px;
}


.payment_process .cart_info1 table td {
    border: 0 none;
    padding: 1px 5px;
    text-align: left;
    font-size:13px;
}

.order_review_price_line table td {
    font-size: 16px;
}

.order_review_price_line {
    float: right;
    width: 420px;
}

.order_review_price_line table tr{
    background: none;
    border: none;
}

.cart_info_product_desc{
    font-size:16px;
    text-align:left;
    float:left;
    max-width:500px;
}

/*------------- category filter ---------------------------------------------------------------------------------*/

#products_list_content{
   /* position: relative; */
}

.filter_div_wrapper{
    z-index: 101;
    float:left;
    margin-right:20px;
}

.page_nav_wrapper td{
	vertical-align:top;
}
.filter_div{
    min-height: 40px;
    line-height: 40px;
    background-color: #CCCCCC;
    padding:0 30px 0 10px;
    min-width: 220px;
    position: relative;
    display: inline-block;
    float: left;
    border-radius: 5px;
    font-size: 15px;
    width:220px;
    cursor:pointer;
}

.filter_div .btn_ext{
    background: url('../images/buttons/listing-icon-more.png?1399636495') no-repeat 0 0px transparent;
    width: 16px;
    height:16px;
    display: inline-block;
    cursor: pointer;
    float: right;
    margin:10px 0 0 20px;
    position: absolute;
    top:0;
    right:10px;

}

.filter_div .btn_ext:hover{
    background-position: center bottom;
}

.filter_div .ext_content{

}

.filter_content{
	padding:5px 0 15px 0;
}

.ext_content{
    position: absolute;
    width: 340px;
    left:0;
    top: 30px;
    z-index: 200;
    display: none;
}

.ext_list{
	width:220px;
}

.btn_ext_active{
    width: 40px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-shadow: 0 0 6px #CECECE;
    text-align: center;
    margin-top:-31px;
    margin-left:180px;
}

.btn_ext_active_icon{
    background: url('../images/buttons/listing-icon-close.png?1399636495') no-repeat 0 0px transparent;
    width: 16px;
    height:16px;
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
}

.btn_ext_active_back{
    background: url('../images/buttons/btn_ext_back.png?1399636495') no-repeat 0 0px transparent;
    width: 20px;
    height:20px;
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
}

.filter_item_content{
    margin-top:-9px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-shadow: 0 0 6px #CECECE;
    background-color: #fff;
}
.filter_item{
    line-height: 34px;
    background-color: #fff;
    color: #f07b36;
    border-bottom: 1px solid #ccc;
    padding:0 5px 0 10px;
    cursor: pointer;

}

.filter_item:hover{
    color:#fff;
    background-color: #f07b36;
}

.filter_item:first-child{
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

.filter_item:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom:none;
}


.btn_item_array_icon{
    background: url('../images/buttons/btn_array_right.png?1399636495') no-repeat 0 0px transparent;
    width: 14px;
    height:14px;
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    float: right;
}

.filter_item:hover .btn_item_array_icon{
    background: url('../images/buttons/btn_array_right_hover.png?1399636495') no-repeat 0 0px transparent;
}

.filter_apply{
    text-align: center;
}

.apply_btn{
    background: url('../images/buttons/process-button-apply.png?1399636495') no-repeat 0 0px transparent;
    width: 109px;
    height:33px;
    display: inline-block;
    cursor: pointer;
}

.apply_btn:hover{
    background-position: center bottom;
}

.filter_item_content.detail{
    text-align: center;
    padding:10px 20px;
}

.filter_title{
    text-transform: uppercase;
    color: #f07b36;
    font-size: 18px;
    line-height: 25px;
}

.filter_desc{
    color: #6d6d6d;
    font-size: 13px;
    line-height: 20px;
    font-style: italic;
}

.filter_keyword{
    background-color: #CCCCCC;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    color: #333333;
    font-size: 16px;
    height: 38px;
    line-height: 38px;
    padding-left:5px;
    margin: 10px 0;
    width: 100%;
}

.search_filter_items{
    display: inline-block;
    float: left;
}


.search_filters_item {
    background-color: #f07b36;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    color: #fff;
    float: left;
    font-size: 12px;
    line-height: 25px;
    margin: 6px 0 0px 8px;
    padding: 0 7px;
}

.search_filter_items .search_filters_item {
	margin:6px 8px 0 0;
}

.search_filters_item_l {
    float: left;
}

.search_filters_item_r {
    cursor: pointer;
    float: left;
    margin: 5px 0 0 5px;
}

.search_filters_item_close_ico {
    background: url("../images/buttons/category-filter-dropdown-option-border-right.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 14px;
    width: 14px;
    background-position: -5px -3px;
}

.border_select .dd{
    margin-bottom: 0;
}

.f_item{
    height:25px;
    line-height: 25px;
    float: left;
    color:#333;
    background-color:#CCCCCC;
    border: 1px solid #666666;
    border-radius: 5px;
    margin:5px 5px 0 0;
    padding:0 5px;
    cursor: pointer;
}

.f_item:hover ,.f_item.selected{
    color:#fff;
    background-color:#f07b36;
}

#price_slider-range .ui-state-default{
    border:none;
}

#price_slider-range .ui-widget-header{
    background: none;
}

.product_info_inner_r .dd .ddTitle{
	height:43px;
	line-height:43px;
}


.product_info_inner_r .dd{
	margin-bottom:0;
	margin-right:10px;
}

.page_nav_line{
	clear:both;
}


.wish_tips {
    background: url("../images/wish_tips.png") no-repeat scroll 0 0 transparent;
    display: none;
    height: 40px;
    position: absolute;
    right: -35px;
    bottom: -10px;
    width: 121px;
    z-index:30;
}

.product_items_list .wish_tips{
	top: -42px;
}

.detail_product_img .wish_tips{
	top: -32px;
}

.review_tips {
    background: url("../images/review-tooltip.png") no-repeat scroll 0 0 transparent;
    display: none;
    height: 40px;
    position: absolute;
    left: 0px;
    top: -42px;
    width: 75px;
}

.compare_tips {
    background: url("../images/compare-tooltip.png") no-repeat scroll 0 0 transparent;
    display: none;
    height: 30px;
    position: absolute;
    right: -40px;
    top: -32px;
    width: 116px;
}

.checkbox.compare {
    float: right;
    margin: 30px 20px 0 20px;
    padding: 0;
    background: url("../images/compare-icon.png") no-repeat scroll 0 0 transparent;
    color: #808080;
    cursor: pointer;
    height: 23px;
    width: 23px;
    position:relative;
}
.checkbox.compare:hover , .checkbox.compare.checked{
	background-position:left bottom;
}

.product_list_grid_related .checkbox.compare{
	margin: 30px 5px 0 5px;
}

.button_compare_selected {
    background: url("../images/category-button-compare.png") no-repeat scroll left top transparent;
    display: inline-block;
    float: right;
    height: 25px;
    width: 175px;
    margin-right:20px;
    display:none;
}

.button_compare_selected:hover{
	background-position:left bottom;
}



.product_compare_cbox {
}
.product_compare_cbox h1 {
    color: #22436c;
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 0 20px;
}
.product_compare_content {
    position: relative;
}
.product_compare_title {
    background: url("../images/product_compare_tit.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    height: 47px;
    left: -10px;
    position: absolute;
    top: 20px;
    width: 195px;
}
.product_compare_table {
    min-height: 600px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.product_compare_items {
    float: left;
    font-size: 15px;
    padding: 15px;
    text-align: center;
    width: 240px;
}
.product_compare_spec {
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    color: #808080;
    font-size: 13px;
    padding: 10px;
    text-align: left;
    width: 204px;
}
.product_compare_spec span {
    color: #666666;
}

.product_compare_spec .title{
	color:#fff;
	font-size:15px;
}

.product_compare_items .button_remove {
    padding: 0 0 10px;
}

.product_compare_items .product_img {
    border: medium none;
    height: 200px;
}
.product_img {
    background-color: #fff;
    display: table-cell;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 150px;
}
.product_compare_items .product_name {
    font-size:16px;
}

.product_compare_items .product_price {
    float: none;
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
    line-height: 19px;
    padding: 10px 0 5px;
    text-align: left;
}

.product_options_class_for_image_ex{
	background-color: #fff;
    border: 1px solid #ccc;
    #display: table-cell;
    float: left;
    margin: 0 8px 8px 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.product_options_class_for_image_ex.selected{
	border: 1px solid #f07b36;
}

.product_options_class_for_image_ex.text_box{
	display: table-cell;
    float: left;
    margin: 0px 6px 6px 0px;
    position: relative;
    text-align: center;
    vertical-align: middle;
	padding:3px 10px;
	background-color:#CCCACD;
	color:#8FB138;
	cursor:pointer;
	border-radius:3px;
	border:1px solid #CCCACD;
}

.product_options_class_for_image_ex.text_box.selected{
	background-color:#68A200;
	color:#fff;
}

.review_author{
	font-size:13px;
	border-bottom:1px dotted #ccc;
	line-height:30px;
	color:#808080;
}

.cate_page_category_item_c{
	float:left;
	width:588px;
	height:255px;
	margin: 0 19px 10px 0;
}

.search_result_title{
	margin-bottom:20px;
}

.payment_method_text, .payment_method_text1 {
    margin: 15px 0 0 0 ;
    font-weight: normal;
    font-size: 14px;
}


#tell_friend_form input, #tell_friend_form textarea{
	padding-left:5px;
	font-size:13px;
	margin-top:5px;
	height:30px;
	width:250px;
	color:#555555;
}

#tell_friend_form textarea{
	height:150px;
	width:550px;
}

.payment_method_info .title {
    padding: 0 0 0 20px;
    background-position: 0 0;
    color: #fff;
    text-shadow: 1px 1px 1px #486501;
    font-size:18px;
    font-weight:bold;
    background-color:#f07b36;
    height:40px;
    line-height:40px;
}


.payment_method_info .s-content{
	background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    margin:20px 0;
}


.category_items_grid{
	display:inline-block;
    position: relative;
    width: 384px;
    margin-right: 24px;
    min-height:378px;
    z-index:0;
    margin-bottom:30px;
}

.product_list_div .category_items_grid:nth-child(3n){
	margin-right:0;
}

.category_grid_title{
	position:absolute;
	bottom:0px;
	height:81px;
	width:100%;
	background-color:#000;
	opacity:0.70;
	border:0px solid red;
}
.ptitle{
	height:81px;
	color:#fff;
	padding:0px 15px;
	width:100%;
	font-size:20px;
	font-weight: bold;
	text-align:left;
	display:table-cell;
	vertical-align:middle;
	opacity:1.0;
}

.category_grid_desc{
	color:#000;
	padding: 10px 0;
	font-size:16px;
}

.cateogry_img_bg{
	
}

.category_img_grid{
	width:258px;
	height:165px;
	text-align:center;
	position:relative;
	display:table-cell;
	vertital-align:middle;
}
/* added for detail */
.new_option_detail{
	width:100%;
	position:relative;
}
.new_option_detail .options1{
	height:36px;
	width:100%;
}
.new_option_detail .options1 .item{
	height:36px;
	line-height:36px;
	float:left;
	background:#fff;
	border:1px solid #dfdfdf;
	border-left:0px;
	padding:0 10px;
	font-size:14px;
	color:#4f4e4e;
	cursor:pointer;
}
.new_option_detail .options1 .item:first-child{
	border-left:1px solid #dfdfdf;
}
.new_option_detail .options1 .item.selected{
	background:#f07b36;
	color:#fff;
}
.new_option_detail .options3 {
	margin:0px 0px 0px 0px;
}
.new_option_detail .options3 .item{
	/*
	height:36px;
	line-height:36px;
	float:left;
	background:#fff;
	border:solid 1px #dfdfdf;
	padding:0 10px;
	font-size:14px;
	color:#4f4e4e;
	cursor:pointer;
	*/
	padding:5px 0px 5px 5px;
}
.new_option_detail .options3 .item.selected{
	/*
	background:#f07b36;
	color:#fff;
	*/
}

.new_option_detail .options2_title{
	z-index:1;
	border:solid 1px #f5efea;
	background:url(../images/xia.png) no-repeat 99% 11px #fff9f4;
	width:673px;
	height:30px;
	line-height:30px;
	text-align:center;
	cursor:pointer;
	font-style:italic;
	border-radius:5px;
}
.new_option_detail .options2_title.selected{
	border-bottom:0;
	background:url(../images/shang.png) no-repeat 99% 11px #fff9f4;
}
.new_option_detail .options2{
	z-index:1;
	border:solid 1px #f5efea;
	/*
	position:absolute;
	top:63px;
	left:0;
	border-radius:5px;
	*/
	background:#fff9f4;
	padding:0px 15px 10px 15px;
	width:674px;
	/*
	height:380px;
	display:none;
	*/
}
#tinyscrollbar{
	width:645px;
	height:370px;
}
.new_option_detail .options2 .item{
	float:left;
	margin:15px 15px 0 0;
	width:300px;
	height:56px;
	cursor:pointer;
}
.new_option_detail .options2 .item .l{
	float:left;
	width:115px;
	height:56px;
}
.new_option_detail .options2 .item .l img{
	width:100%;
	height:100%;
}
.new_option_detail .options2 .item .r{
	float:left;
	width:185px;
	height:56px;
	padding:0 10px;
	background:#eaeaea;
}
.new_option_detail .options2 .item .r .title{
	color:#f07b36;
	font-size:18px;
}
.new_option_detail .options2 .item{
	position:relative;
}
/* other */
.full_width{
	width:100%;
	text-align:center;
	padding-top:174px;
}
.center.no_padding_top{
	padding-top:0px;
}
.category_description_title{
	padding:10px 0;
}
.product_cate_text{
	text-align:center;
	position:relative;
	width:100%;
	height:30px;
}
.ext_icon{
	width:25px;
	height:25px;
	line-height:25px;
	border:dashed 1px #333;
	cursor:pointer;
	font-weight:bold;
	margin:0 auto;
	display:none;
}
.description_short{
	position:absolute;
	z-index:1;
	top:30px;
	left:0;
	max-height:150px;
	overflow:hidden;
	text-align:left;
	border:solid 1px #ccc;
	background:#fff;
	color:#333;
	display:none;
	width:588px;
	padding:10px;
}

.more_name a{
	color:#f07b36;
}
.more_name a:hover{
	color:#c85815;
}
.more_name{
	height:80px;
	/*line-height:80px;*/
}
.more_description{
	max-height:180px;
	overflow:hidden;
	display:none;
	padding:0 0 10px 0;
}
.more_ef{
	position:absolute;
	bottom:0px;
	left:0;
	background: rgba(0, 0, 0, 0.8);
	color:#fff;
	white-space:nowrap;
	width:384px;
	padding:0 10px;
}
.page_link_new{
	background-color:#fff;
	border:1px solid #e2e2e2;
	border-right:0px;
	padding:3px 10px;
	cursor:pointer;
	color:#838383;
}
.page_link_new.active{
	background-color:none;
	color:#e77833;
}
.page_link_new.previous{
	padding:3px 10px 3px 15px;
	background:url(../images/point-left.png) no-repeat 3px center #fff;
}
.page_link_new.next{
	padding:3px 15px 3px 10px;
	background:url(../images/point-right.png) no-repeat 47px center #fff;
	border-right:1px solid #cdcdcd;
}
.cate_page_category_item_c .product_small_img{
	width:588px;
	height:210px;
	position:relative;
}
.cate_page_category_item_c .product_small_img .new_title_b{
	background:url(../images/homepage/CollectionPage_title_bg.png) no-repeat;
	width:388px;
	height:71px;
	line-height:71px;
	position:absolute;
	right:0;
	top:97px;
	color:#fff;
	text-align:right;
	padding-right:40px;
	font-size:27px;
}
.new_img_bottom_bg{
	background:url(../images/homepage/CollectionPage_bg.png) no-repeat;
	width:588px;
	height:15px;
}