.fotter_rit ul li .button, .search_but{
    -webkit-appearance: none;
}
.news_one_item .text.file_links img{
    width: 22px;
}
.teamtg_content{
    float: left;
}

.top_rit a.team_gt{
	background-size: 13px;
}
.fotter_lft ul li{
	margin: 0px !important;
	padding: 0px 12px;
}
.fotter_nav ul li.lastimg{
	background-size: 13px;
}
.fotter_nav{
	padding-bottom: 37px;
}
.download_pdf ul li a{
	background-size: 18px;
}

.rectangle h2{
    display: block;
}
.rectangle img{
    display: none;
}
.international_dealer h2{
    display: none;
}
.logo img{
    height: 65px !important;
}
.stick_header .logo img{
    height: 65px !important;
}

#map{
    height: 500px;
    width: 100%;
}
.teamtg_home{
    padding-top: 100px;
}
.fotter_bottom p {
    background-size: 8px 13px;
}
.download_pdf ul li a:hover {
    background: url(../images/pdf_icon.png) no-repeat 18px center #505050;
    background-size: 18px;
}
@media only screen and (min-width: 1600px) and (max-width: 2600px) {
	.studio_section							{ width:1000px;}
	.studio_section img						{width:100%; height:auto;}
	/*.collection_in ul li					{width:33.3%;}*/
	
	.product_in .left_box{
		width:25%;
		/*float:left;*/
	}
	
	/* .plist{
		float:left;
		width:75%;
	} */
	
	
	.slider_in									{width:100%; position:absolute; left:0; top:235px;/*padding-left:175px;*/}
	.slider_in.middle {padding:0;}
	.slider_in.right{}
	/*.slider_content								{width:540px; margin:0; padding:0; display:block;}*/
	/*.slider_content.left						{margin:0;width:530px;}*/
	/*.slider_content.middle						{margin:0 auto;}*/
	/*.slider_content.right						{margin:0 300px 0 auto;}*/
	.slider_content.middle h2, .slider_content.middle p{text-align:center;}
	.slider_content.right h2, .slider_content.right p{text-align:right;}
	.slider_content.left h2, .slider_content.left p{text-align:left;}
	/*.slider_txt									{width:540px; margin:0; padding:0; }*/
	/*.slider_txt.right							{float:right; }*/
	.slider_txt h2								{margin:0 0 0 0; padding:0px 0 0 0px  !important; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px  !important; font-weight:normal; line-height:44px; color:#ffffff; display:block; text-align:left;text-transform:uppercase;}
	.slider_txt p								{margin:2px 0 0 0; padding:0 0 20px 0px  !important; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:45px ; font-weight:normal; line-height:48px; color:#ffffff; display:block; text-align:left; text-transform:uppercase;}
	/*.slider_content a							{clear:both;margin:0; padding:15px 35px !important; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px !important; font-weight:normal; line-height:14px; color:#ffffff; display:block; background:#669463; width: 100px; !important; text-align:center; }*/
	/*.slider_content a:hover						{background:#a7a9ac;}*/
	/*.slider_in.left .slider_content a{ float:left;}*/
	/*.slider_in.middle .slider_content a{ margin:0 auto; float:none;}*/
	/*.slider_in.right .slider_content a{ float:right;}*/
	
}


@media only screen and (min-width: 1350px) and (max-width: 1600px) {
	.studio_section			{ width:840px;}
	.studio_section img						{width:100%; height:auto;}
	
	/*.collection_in ul li					{width:33.3%;}*/
	
	.product_in .left_box{
		width:25%;
		/*float:left;*/
	}
	


	/* .plist{
		float:left;
		width:75%;
	}
	 */
	.slider_in									{width:100%; position:absolute; left:0; top:190px;/*padding-left:143px;*/}
	.slider_in.middle{padding:0;}
	.slider_in.right{}
	/*.slider_content								{width:440px; margin:0; padding:0; display:block;}*/
	/*.slider_content.left						{margin:0;width:auto;}*/
	/*.slider_content.middle						{margin:0 auto;}*/
	/*.slider_content.right						{margin:0 300px 0 auto;}*/
	.slider_content.middle h2, .slider_content.middle p{text-align:center;}
	.slider_content.right h2, .slider_content.right p{text-align:right;}
	.slider_content.left h2, .slider_content.left p{text-align:left;}
	/*.slider_txt									{width:440px; margin:0; padding:0; }*/
	/*.slider_txt.right							{float:right; }*/
	.slider_txt h2								{margin:0 0 0 0; padding:0px 0 0 0px  !important; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:12px  !important; font-weight:normal; line-height:44px; color:#ffffff; display:block; text-align:left;text-transform:uppercase;}
	.slider_txt p								{margin:2px 0 0 0; padding:0 0 20px 0px  !important; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:35px ; font-weight:normal; line-height:38px; color:#ffffff; display:block; text-align:left; text-transform:uppercase;}
	/*.slider_content a							{clear:both;margin:0; padding:10px 20px !important; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:12px !important; font-weight:normal; line-height:14px; color:#ffffff; display:block; background:#669463; width: 100px; !important; text-align:center; }*/
	/*.slider_content a:hover						{background:#a7a9ac;}*/
	/*.slider_in.left .slider_content a{ float:left;}*/
	/*.slider_in.middle .slider_content a{ margin:0 auto; float:none;}*/
	/*.slider_in.right .slider_content a{ float:right;}*/
}

  /*
@media only screen and (min-width: 1570px)  {

    .plist {
        width: 100%;
    }
}*/
@media only screen and (min-width: 1024px) and (max-width: 1350px) {
.container								{padding: 0 20px; }
.slider_in								{top:140px;}
.slider_txt h2							{font-size:50px; padding: 20px 0px 0px 36px;}
/*.left_content							{width:40%;}*/
/*.right_content							{width:60%;}*/
/*.right_content ul li img				{width:100%; height:auto;}*/
/*.right_content ul						{padding: 38px 0px 0px 0.5%;}*/
/*.right_content ul li					{width:49.7%; padding:0 0.5% 2px 0 ;}*/
/*.right_content ul li:nth-last-child(1)	{ width:100%}*/
/*.right_content ul li:nth-last-child(2)	{ padding:0; float:right;}*/
.beauty									{width:100%;}
.beauty a								{margin:0;}

/*.fotter_nav ul							{width:452px;}*/

.collection_in ul						{width:100%;}
/*.collection_in ul li					{width: calc(33.3% - 2px);}*/
.collection_in ul li img 				{width:100%;}
 
.product_in ul li						{width:calc(33% - 7px); text-align: center;}

.videos ul li							{width:24.4%;}
.videos ul li .video1					{width:100%;}
.videos ul li .video2					{width:100%;}
.videos ul li .video3					{width:100%;}
.videos ul li .video4					{width:100%;}
.rectangle_img img						{width:100%; height:auto;}
.rectangle_img							{width:61%;}
.domentions								{width:100%; height:auto;}
.pro_hover_img							{width:100%;}
.pro_hover_img img						{width:100%; height:auto;}
/*.tilling_img img						{width:100%; height:auto;}*/
/*.tilling_img							{width:60%;}*/
/*.tilling_txt							{width:30%; margin: 117px 0 0 0;}*/
/*.base_txt								{width:32%;}*/
/*.base_img								{width:63.5%;}*/
/*.base_img img							{width:100%; height:auto;}*/
/*.rotation_img img						{width:100%; height:auto;}*/
/*.rotation_img							{width:65%;}*/
/*.rotation_txt							{width:30%;}*/

.related_slide .bx-wrapper .bx-next		{right:8px;}
.related_slide .bx-wrapper .bx-prev		{left:0;}
.bx-wrapper .bx-viewport				{left:0;}
.stick_header .top_rit a.team_gt		{margin:0px 0px 0px 26px;}

.product_form ul li						{width:28%;}

.studio									{padding:0px 0px 20px 0px;}
.studio_section							{margin:0px 0px 0px 66px;}

.studio_section			{margin:0; width:700px;}
.studio_section img						{width:100%; height:auto;}

/* ------------------mock page Hear ----------------*/
.mock_lft								{width:300px; padding:46px 5px 0 30px;}


.product_in .left_box{
		width:25%;
		/*float:left;*/
	}
/* 	
.plist{
	float:left;
	width:75%;
} */
	
	.product_in .fab.left_box{
		width:23%;
	}
	
	.fabric.plist{
		width:70%;
	}
	
	.fabric .fabric_in ul li{
		width:23%;
		margin:0 0 2% 2%;
	}
	
	/* ------------------press page Hear ----------------*/
	.event_news_in{padding:15px 0; width:98%; margin:0 auto;}

}

@media only screen and (max-width: 1023px) {
.container								{width:99%;}
.logo									{float:none; margin:0 auto; text-align:center;}
.top_rit								{margin:14px auto 0; float:none; display:block; width:683px;}
.slider_in								{top:90px;}
.slider_txt h2							{font-size:50px; padding: 20px 0px 0px 36px;}
/*.left_content							{width:40%;}*/
/*.right_content							{width:60%;}*/
/*.right_content ul li img				{width:100%; height:auto;}*/
/*.right_content ul						{padding: 38px 0px 0px 0.5%;}*/

/*.right_content ul li:nth-last-child(1)	{ width:100%}*/
/*.right_content ul li:nth-last-child(2)	{ padding:0; float:right;}*/
.beauty									{width:100%; }
.beauty a								{margin:0;}

/*.fotter_nav ul							{width:420px;}*/

.collection_in ul						{width:100%;}
/*.collection_in ul li					{width:33%;}*/

/*.product_in								{margin:0 auto; text-align:center;}*/
.product_in ul li						{width:50%; margin:0px 0px 53px 0px;}



.related_slide .bx-wrapper .bx-next		{right:8px;}
.related_slide .bx-wrapper .bx-prev		{left:0;}
.bx-wrapper .bx-viewport				{left:0;}

.product_form ul li						{width:26.7%;}

.list_view_in							{height:403px;}
.studio_rgt								{top:28px;}

.studio_section						{margin:0; width:700px;}
.studio_section img						{width:100%; height:auto;}

/* ------------------mock page Hear ----------------*/
.mock_lft								{width:300px; padding:46px 5px 0 20px;}

/* ------------------press page Hear ----------------*/
.event_news_in							{padding:15px 0; width:98%; margin:0 auto;}
.event_lft								{width:42%;}
.event_rgt								{width:58%; padding:0 0 0 34px;}
.block2 .event_rgt						{padding:0 34px 0 0;}
.tbl{padding:0;}


.product_in .fab.left_box{
	width:23%;
}

.fabric.plist{
	width:70%;
}

.fabric .fabric_in ul li{
	width:23%;
	margin:0 0 2% 2%;
}

}

@media only screen and (min-width: 950px) and (max-width: 1013px) {
	.studio_section						{ width:650px;}
	.studio_section img						{width:100%; height:auto;}
}

@media only screen and (max-width: 959px) {
  
.container								{width:99%;}
.logo									{float:none; margin:0 auto; text-align:center;}
.top_rit								{margin:14px auto 0; float:none; display:block; width:683px;}
.slider_in								{top:90px;/*padding-left:70px;*/}
.slider_in.right{padding-left:0;}
.slider_txt h2							{font-size:40px; padding: 10px 0px 0px 36px; line-height: 62px;}
/*.slider_content							{margin:0 auto;}*/
/*.slider_content.right						{margin:0 100px 0 auto;}*/
/*.slider_in.right .slider_content a {}*/
.slider_content a						{float:none; margin:0;}
.slider_content p						{font-size:25px; line-height:28px;}
/*.left_content							{width:100%; float:none; display:block;}*/
.oasis									{margin:0 auto; }
/*.right_content ul li img				{width:100%; height:auto;}*/
/*.right_content ul						{padding: 68px 0px 0px 0.5%;}*/
/*.right_content ul li					{width:49.7%;}*/
/*.right_content ul li:nth-last-child(2)	{ padding:0; float:right;}*/
.beauty									{width:100%; }

/*.fotter_nav ul							{width:43%;}*/

.collection_in ul						{width:100%;}
/*.collection_in ul li					{width:33%;}*/
/*.collection_in ul li span small			{width:100%; height:98.5%;}*/


.product_in ul li						{width:50%; margin:0px 0px 53px 0px;}

.videos ul li							{width:24.8%;}
.videos ul li .video1					{width:100%;}
.videos ul li .video2					{width:100%;}
.videos ul li .video3					{width:100%;}
.videos ul li .video4					{width:100%;}
  
.videos ul li							{width:24%;}
.rectangle_img img						{width:100%;}
.rectangle_img							{width:47%;}
.pro_hover_img img						{width:100%; height:auto;}
.pro_hover_img							{width:100%;}
.pro_hover_img a						{bottom: -50px;}
/*.tilling_img img						{width:100%;}*/
/*.tilling_img							{width:60%;}*/
/*.tilling_txt							{width:36%; margin: 60px 0px 0px 0px;}*/
/*.base_img img							{width:100%;}*/
/*.base_img								{width:60%;}*/
/*.base_txt								{width:38%; margin: 60px 0px 0px 0px;}*/
/*.rotation_img img						{width:100%;}*/
/*.rotation_img							{width:65%;}*/
/*.rotation_txt							{width:35%; margin: 60px 0px 0px 0px;}*/
 
.related_slide .bx-wrapper .bx-next		{right:8px;}
.related_slide .bx-wrapper .bx-prev		{left:0;}
.bx-wrapper .bx-viewport				{left:0;} 
.textfield								{width:500px;}
.search_block_in						{width:702px;}
.search_block.active					{width:702px;}

.studio									{padding:0px 0px 160px 0px;}
.studio_section					{margin:0; width:570px;margin-left:50px;}
.studio_section img						{width:90%; height:auto;}


.product_in .fab.left_box{
	width:23%;
}

.fabric.plist{
	width:60%;
}

.fabric .fabric_in ul li{
	width:32%;
	margin:0 0 1.3% 1.3%;
}

/* ------------------press page Hear ----------------*/
.press_nav ul li						{width:30%;}	
.whats_new ul li h4						{font-size:16px;}
.press_nav ul li:nth-child(3)			{width:40%;}
 
}


@media only screen and (max-width: 1024px)  {
	body{-webkit-text-size-adjust:none}
	 
	.about_in ul li img {
		/*margin-left:-70px;*/
	}
	.ttg.product_in .cms.left_box {
		
	    width: 33.3333%;
	    margin-top: 0px;
	    margin-bottom: 90px;
	}
	#teamss_articles_list {
		width:66.666666%;
		margin-top:20px;
	}
	.cs_i_center.container {
		padding:0;
	}

	.ttg.product_in {
		margin-top:0px;
	}

	ul.bxslider li .slider_in {
	    top: 50% !important;
	}
	
	.search_block.active {
		width:705px;
	}
	.search_block_in {
		width: 675px;
	}

	#tg_banner_text .container {
	    padding-top: 28px;
	    font-size:0.9em;
	}
	#tg_banner_text .container p:first-child {
		font-size: 30px !important;
	}
	.studio_lft	{
		position: static;
	}
	.studio_lft ul li {
		display: inline-block;
	}
	.studio_lft {
		width:700px;
	}
	.product_in {
		margin-top:20px;
	}

	.related_slide .bx-wrapper .bx-controls-direction a {
		width:20px;
	}
	.related_slide .bx-wrapper .bx-controls-direction a.bx-next {
		background-position: right !important;
	}

	.product_in .left_box {
		text-align: left;
	}
	.zip-btn {
		display: none;
	}
	.product_in ul li a {
		text-align: center;
	}

	.container.subcategory {
		width:100%;
	}

}
@media only screen and (max-width: 1024px) and (orientation:portrait) {
	.product_in .left_box {
		top:0px;
		width:33.33333%;
	}

	.base_img img {
		width:100%;
	}  
	.teamtg_menu-holder {
		margin-bottom: 0px;
	}
	.ttg.product_in .cms.left_box {
	    margin-bottom: 30px;
	}
	.search_block {
		top:-12px;
	}
	.search_block_in {
	    width: 510px;
	}
	.search_block.active {
	    width: 575px;
	}
	.search_block_in .textfield {
	    width: 330px;
	}
	#teamss_articles_list {
		margin-top:-20px;
	}
		
	.regleft.contact-textarea input {
	    width: auto;   
	    
	}
} 

@media only screen and (max-width: 1024px) and (orientation:landscape) {
	.fancybox-lock .fancybox-overlay{
		cursor: default;
		z-index:9999999;
	}
	.fabric_in ul li:hover .fabric_hover		{
		display:block;
}

.fabric_hover {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.about_in ul li:hover .about_hover_inner	{background: none;}
	.about_in ul li.active .about_hover_inner	{background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;}

	body{cursor:pointer}
	.left_content ul li.extra_block.second		{display: none; }
	.beauty {padding:65px 0px 66px 0;}

	.search_block {
		    top: -10px;
	}
	.search_block.active {
	    width: 630px;
	}
	.search_block_in {
	    width: 635px;
	}

	.search_block_in .textfield {
	    width: 420px;
	}

	.regleft.contact-textarea {
	    /*width: calc(100% - 46px);   */
	    padding-right: 0;
	}
}



@media only screen and (max-width: 768px) {
	
	.fancybox-lock .fabric_hover{
		cursor: default;
	}
	.fancybox-lock .fancybox-overlay{
		cursor: default;
		z-index:9999999;
	}
	
	.fabric_in ul li:hover .fabric_hover		{
		display:block;
}

.fabric_hover {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
	
	.about_in ul li:hover .about_hover_inner	{background: none;}
	.about_in ul li.active .about_hover_inner	{background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;}
	
	body{cursor:pointer}
    .teamtg_menu{
        /*width: 880px !important;*/
        /*padding-left: 40px;*/
    }
    .jspContainer{
        height: auto !important;
    }
    .jspPane{
        position: relative !important;
    }
    .website_in{
        height: auto;
    }
	.teamtg_content {
		margin-left: 83px;
	} 
	
	
	
header									{position:static; padding:24px 0 40px 0;}
.wrapper								{margin:0 auto; padding:0 0 0 0;}
.container								{width:99%;}
.logo									{float:none; margin:0 auto; text-align:center;}
.top_rit								{margin:14px auto 0; float:none; display:block; width:581px;}
.top_rit a.team_gt						{margin: 0px 13px 0px 13px;}
.top_rit a.search						{margin:0px 0 0px 0;}
nav ul li								{margin: 0px 12px;}
.slider_in								{top:30px;}
.slider_txt h2							{font-size:40px; padding: 10px 0px 0px 36px; line-height: 62px;}
.slider_content							{margin:0 auto;}
/*.slider_content a						{float:none; margin:10px auto 0;}*/
/*.left_content							{width:100%; float:none; display:block;}*/
.oasis									{margin:0 auto; }
/*.right_content							{width:100%; float:none; display:block; }*/
/*.right_content ul li img				{width:100%; height:auto;}*/
/*.right_content ul						{padding: 68px 0px 0px 0.5%;}*/
/*.right_content ul li					{width:49.7%;}*/
/*.right_content ul li:nth-last-child(2)	{ padding:0; float:right;}*/
.beauty		 							{width:100%; }
/*.fotter_nav ul							{width:41%;}*/
.fotter_rit ul li .textfield			{width:250px;}
.fotter_bottom p						{float:none; margin:0 auto; width:264px;}
.fotter_bottom span						{float:none; margin:0 auto; text-align:center;}
.fotter_lft								{margin:0 auto; float: none; text-align: center; display:block; padding:86px 0 0 0;}
.fotter_rit								{ float:none; text-align:center; display:block; padding:0;     margin-top: -15px;} 

.collection_in ul						{width:100%;}
.collection_in ul li					{width:calc(50% - 6px);}
/*.collection_in ul li span small			{width:100%; height:99.4%;}*/
.collection_in ul li img 				{width:100%;}


.product_in ul li						{width:50%; margin: 0px 0px 53px 0px;}

.videos									{width:100%; padding:0px; display:block; margin:0px auto; text-align:center;}
.videos ul li							{width:280px; height:auto; float:none;}
.videos ul li a br						{display:none;}

.rectangle								{width:60%; float:left; padding: 40px 0px 0px 20px; margin:0 auto;box-sizing: border-box;}

.rectangle_img							{width:40%;float:right; }
.pro_hover_img img						{width:100%; height:auto;}
.pro_hover_img							{width:100%;}
.pro_hover_img a						{bottom: -54px;}
.specifications							{padding: 0px 0px 46px 0;}
/*.tilling_img img						{width:100%; height:auto;}*/
/*.tilling_img							{width:60%;}*/
/*.tilling_txt							{width:36%; margin: 46px 0px 0px 0px;}*/
.tilling_txt h2							{font-size: 22px; line-height: 22px; margin: 14px 0px 0px;}
.tilling_txt p br						{display:none;}
/*.base_img img							{width:100%; height:auto;}*/
/*.base_img								{width:60%;}*/
/*.base_txt								{width:38%; margin: 60px 0px 0px 0px;}*/

.base_txt h2							{font-size: 22px; line-height: 22px; margin: 14px 0px 0px;}
.base_txt p	br							{display:none;}
/*.rotation_img img						{width:100%; height:auto;}*/
/*.rotation_img							{width:65%;}*/
/*.rotation_txt							{width:35%; margin: 36px 0px 0px 0px;}*/
.rotation_txt h2						{font-size: 22px; line-height: 22px; margin: 14px 0px 0px;}
.rotation_txt br						{display:none;}
 
.related_slide .bx-wrapper .bx-next		{right:-25px;}
.related_slide .bx-wrapper .bx-prev		{left:-25px;}
.related_slide							{width:96%; margin:0 0 0 2%; }
.bx-wrapper .bx-viewport				{left:0;} 

.related_section						{padding: 0px 0px 27px 0px; text-align:center;}
/*.related_slide ul li					{ width:300px !important;}*/
.related_slide ul li a					{ width:100%;}
.related_slide ul li a span				{ width:100%;}
.related_slide ul li a span img			{ width:100%; height:auto;}

.download_pdf ul li						{float:none; margin: 0px 4px 8px 0px;}

.textfield								{width:360px;}
.search_block_in						{width:510px;padding-left: 40px;}
.search_block.active					{width:580px;} 

.product_form ul li						{width:25.1%;}
.fabric_hover h2						{font-size:20px;}

/*.about_in ul li img						{width:100% !important;}*/
.about_in ul li .explore_lft img            {height:auto;max-width:100%;}
 
.studio									{padding:0;}
.studio_in								{margin:50px auto 50px;}
.studio_section							{width:90%;}
/*.studio_lft								{top:24%;}*/
.studio_rgt								{position:static; width:100%;}
.studio_rgt h2							{padding:18px 0px 15px 19px;}
 
/* ------------------mock page Hear ----------------*/
.mock_lft								{/*position:static; width:99%;*/ padding:46px 5px 30px 0;}
.mock_lft_in							{width:96%; margin:0 0 0 4%;}
.website_main							{width:100%;}
.mock_rgt iframe 						{height:400px;}

/* ------------------press page Hear ----------------*/
.press_nav								{padding:11px 30px 10px;}
.press_nav ul li						{float:none; display:block; padding:0 0 12px 0; margin:0; width:100%;}
.press_nav ul li:nth-child(3)			{width:100%;}

.event_lft								{float:none; width:100%; display:block; padding:0;}
.event_rgt								{float:none; width:100%; display:block; padding:12px 0 0 0;}
.block2	.event_rgt						{padding:12px 0 0 0;}
.change_lft								{float:none; width:100%; display:block;}
.change_rgt								{float:none; width:100%; display:block;}

.whats_new ul li						{width:50%;}
.whats_new ul li p						{font-size:12px;}
.tbl_cell								{display:block;}
.paper1									{display:block;}
.paper3									{display:block;}
#event_paper1							{}
.paper1 #event_paper1					{display:block; padding:0 0 12px 0;}
#event_paper3							{}
.paper3 #event_paper3					{display:block; padding:0 0 12px 0;}

.lrc_left{
	float:left !important;
}

.login_div{
	max-width:320px !important;
}

.login_middle_line{
	display:none;
}
.facility-box{
 	width:100% !important;
 	/*float:left;*/
 	display:block !important;
}
.facility-map{
 	width:100% !important;
 	/*float:left;*/
 	display:block !important;
}
.facility-map iframe{
 	width:100% !important;
 	/*float:left;*/
}
/* #id_contact_us_form{
	width: 100vw !important;
} 
#id_contact_us_form table{
	width: 100vw !important;
}*/
#id_contact_us_form tr{
	display: block;
}
#id_contact_us_form td{
	width: 100%;
	display: block;
}
#id_contact_us_form .regleft{
	float: none;
	margin: 10px auto;
    max-width: 300px;
}
#id_contact_us_form .user_content{
	/*width: 329px;*/
    margin: 0 auto;
    
    position: relative;
}
/*#id_contact_us_form textarea.contact_us_item{
	width: 100% !important;
	padding: 0px;
}*/


.product_in ul li em {
	max-width: none;
}

.about_in ul li span {
	height:200px;
}

.whats_new ul li {
	min-height: 565px;
} 

.teamtg_menu {
	/*text-align: center;*/
}
.teamtg_menu > a {
	margin:0 10px;
	white-space: nowrap;
}  

.ttg.product_in {
	margin-top:40px;
}



 
}
 
@media only screen and (max-width: 768px)  and (orientation:portrait) {
	.base_txt	{margin-top:90px;}
	.plist.threeinarow, .plist.twoinarow {
		width:65% !important;
	}
	.about_in ul li .explore_lft img {
	    max-width: 45%;
	    position: absolute;
	    bottom: 0;		
	}
	.fotter_nav ul {
		width:43%;
	}
	.fotter_nav ul.lastul {
		width:13%;
	}
	
	.beauty{
		padding:34px 0;
	}
	.oasis{
		padding: 33px 0 86px;
	}
}
@media only screen and (max-width: 768px)  and (orientation:landscape) {
	.collection_in ul li {width:calc(31.7% - 2px);}
	.rectangle	{width:50%; float:left; }
	.rectangle_img	{width:50%; float:right;}
	.plist.threeinarow, .plist.twoinarow{
		width:65% !important;
	}

}

@media only screen and (max-width: 767px) {
	
	.ttg.product_in .cms.left_box {
	    width: 100%;
	    padding-left: 8%;
	}
	#teamss_articles_list {
		width:100%;
	}


	.nav_item {
		left: -10px;
		top: 70px;
    	padding-top: 10px;
		box-sizing: border-box;
	}
	.collection_in ul li {
		width:100%;
		float:none;
	}
	.rectangle	{width:98%; float:none; }
	.rectangle_img	{width:100%; display:none;}
	.rectangle img{
        display: block;
        width: 80%;
        margin: 0 auto;
    }
	.product_in .left_box {
		top:0px;
	} 

	#map {
	    display: none !important;
	}
	.teamtg_content {
		margin: 0 auto;
	}
	.team_ss_search_text{
		    width: calc(77% - 5px);
	}
	#team_ss_search_form .btn_login {
		width:23%;
	}
	.teamtg_menu-holder {
		line-height:35px;
	}
	.teamtg_menu-holder {
		height:60px;
		line-height:60px;
		overflow-x: auto;
    }
    .search_block_in .textfield {
	    width: 320px;
	}
    /*.teamtg_menu:before {
        content: "";
        background: url("../images/cat-left-arrow.png") no-repeat;
        width: 10px;
        height: 20px;
        background-size: 10px 20px;
        display: inline-block;
        margin-right: 20px;
        background-position: center;
        vertical-align: middle;
    }
    .teamtg_menu:after {
        content: "";
        background: url("../images/cat-right-arrow.png") no-repeat;
        width: 10px;
        height: 20px;
        background-size: 10px 20px;
        display: inline-block;
        margin-left: 20px;
        background-position: center;
        vertical-align: middle;
    }*/
	.mock_lft								{position:static; width:99%;}

	.base_img img {
		width:100%;
	}

	.related_slide ul li						{width:30%; }

	.related_slide .bx-wrapper .bx-next		{right:-17px;}
	.related_slide .bx-wrapper .bx-prev		{left:-17px;}
	
/*	.product_in .left_box {
		width:100%;
		text-align:center;
    	padding-left: 0 !important;
	}

	.plist.twoinarow,
	.plist.threeinarow {
		width:100% !important;
	}
*/
	.left_content ul li.extra_block.second		{display: block; }

	.related_slide ul.two-items li {
		width:49%;
	}
	.mock {
    border-top: 1px solid #ededed;
		
	}
	.banar_in									{ padding:24% 0;}


	.related_slide ul li a { -webkit-text-size-adjust: 100%; font-size:11px !important; text-transform: none;}

	.subcategory {width: auto; padding-left: 20px; padding-right: 20px; position: absolute; white-space:nowrap;}



.teamtg_menu:before,
.container.subcategory:before {
    content: "";
    /* height: 10px !important; */
    background: url("../images/cat-left-arrow.png") no-repeat;
    width: 10px;
    height: 20px;
    background-size: 10px 20px;
    display: inline-block;
    margin-right: 20px;
    background-position: center;
    vertical-align: middle;
}
	.teamtg_menu:after,
    .container.subcategory:after {
        content: "";
        /* height: 10px !important; */
        background: url("../images/cat-right-arrow.png") no-repeat;
        width: 10px;
        height: 20px;
        background-size: 10px 20px;
        display: inline-block;
        margin-left: 0px;
        background-position: center;
        vertical-align: middle;
    }

} 
@media only screen and (max-width: 767px) and (orientation:portrait) {
	.product_in								{margin:0 auto; text-align:center;}
	.product_in ul {
		float:none;
		width:100% !important;
	}
	.product_in ul li {
		width:100% !important;
	}
	.product_in .left_box .leftbox_line > div,
	.product_in .left_box .leftbox_line a {
		
	}
	.plist.threeinarow, .plist.twoinarow {
		width: 100% !important;
	}

	.product_in .left_box {
		width:100%;
	} 

	.about_in .explore_rgt,
	.about_in .explore_lft {
		width:100%;
		float:none;
	}

	.fotter_nav ul.lastul {
		text-align: center;
		width:100%;
	}
}
@media only screen and (max-width: 767px) and (orientation:landscape) {
	.base_txt {
		margin: 80px 0 0 0;
	}
	 /*.base_img img {
		max-height: 340px;
	}   */

	.ttg.product_in .cms.left_box {
	    padding-left: 4%;
	}
	.product_in ul li {
		width:calc(50% - 12px) !important;
	}
	.related_slide ul li						{width:49%; }

	.about_in ul li .explore_lft img {
	    max-width: 45%;
	    position: absolute;
	    bottom: 0;		
	}
	
	.fotter_nav ul.lastul {
		    width: 16%;
	}
	.fotter_nav ul {
		width:42%;
	}
	.product_in .left_box{
		width:25%;
	}
	
	.banar_in {
	    padding: 14% 0;
	}
	
	.right_content ul li 					{float:none; margin:0 auto; display:block; width:100% !important; margin:0 0 3px 0;}
.right_content ul li:nth-last-child(1)	{ width:100%}
.right_content ul li.extra_block		{display: none; }
.right_content							{width:100%; float:none; display:block; }
.left_content							{width:100%; float:none; display:block;}
}

@media only screen and (max-width: 767px) and (orientation:portrait) {
	/*.explore_lft							{float:none; margin:0 auto; width:100%;}*/
	/*.explore_rgt							{float:none; margin:0 auto; width: calc(100% - 20px); padding: 24px 0px 10px 0px;}*/
	.about_in ul li .explore_lft img {
	    max-width: 100%;
	    position: relative;
	}
	.videos ul li							{width:24.2%;}
	.videos ul li .video1					{width:100%;}
	.videos ul li .video2					{width:100%;}
	.videos ul li .video3					{width:100%;}
	.videos ul li .video4					{width:100%;}
	.rectangle_img img						{width:100%; height:auto;}
	.rectangle_img							{width:100%;}
	.domentions								{width:100%; height:auto;}
	.pro_hover_img							{width:100%;}
	.pro_hover_img img						{width:100%; height:auto;}
	.tilling_img img						{width:100%; height:auto;}
	.tilling_img							{width:100%;}
	.tilling_txt							{width:100%;  margin: 40px 0 30px; }
	.base_txt								{width:100%; margin: 40px 0 30px;}
	.base_img								{width:100%;}
	.base_img img							{width:68%; height:auto;float:none;}
	.base_img.base_img_ext2 img {float:right;}
	.rotation_img img						{width:100%; height:auto;}
	.rotation_img							{width:100%;}
	.rotation_txt							{width:100%; margin: 40px 0 30px;}

	.tilling_section {
		margin: 0;
	    padding: 0 15px 15px;
	    box-sizing: border-box;
	}

	#tg_banner_img {
		width: 160%;
    	margin-left: -50%;
	}
	.related_slide ul.four-items li {
	    width: 23.5%;
	}
	
	.about_in{
		margin-top:0;
	}

}

@media only screen and (max-width: 599px) {
.wrapper								{margin:0 auto; padding:0 0 0 0;}	
/*.container								{width:99%;}*/
.logo									{float:none; margin:0 auto; text-align:center;}
nav										{text-align:center;}
nav ul									{background:none;}
.top_rit								{margin:14px auto 0; float:none; display:block; width:100%;}
.top_rit a.team_gt						{margin:10px 0 0 0; float:left;left:35%;}
.top_rit a.search						{margin:0px 0 0px 0; position:absolute; top:10px; left:4px;}
.slider_in								{top:14px;}
/*.slider_txt*/								{width: 390px; margin: 0 auto;}
.slider_txt h2							{font-size:28px; padding: 6px 0px 0px 36px; line-height: 36px;}
.slider_txt p							{padding: 0px 0px 14px 36px; }
.slider_content							{margin:0 auto; width:100%;}
/*.slider_content.right							{margin:0 auto; width:300px;}*/
/*.slider_content a						{float:none; margin:10px auto 0; padding: 15px 0px 15px 0;}*/
.main_slider .bx-wrapper .bx-controls-direction a{margin: -20px 0px 0px 0;}
.left_content							{width:100%; float:none; display:block;}
.oasis									{margin:0 auto; padding: 58px 0px 58px 0px;}
.right_content							{width:100%; float:none; display:block; } 
/*.right_content ul li img				{width:100%; height:auto;}*/
/*.right_content ul						{padding: 68px 0px 0px 0.5%;}*/

/*.right_content ul li:nth-last-child(1)	{ width:100%}*/
/*.right_content ul li:nth-last-child(2)	{ padding:0; float:none;}*/

.right_content ul li 					{float:none; margin:0 auto; display:block; width:100% !important; margin:0 0 3px 0;}
.right_content ul li:nth-last-child(1)	{ width:100%}
.right_content ul li.extra_block		{display: none; }
.right_content							{width:100%; float:none; display:block; }
.left_content							{width:100%; float:none; display:block;}
.beauty									{width:100%;}

/*.fotter_nav ul							{width:39%;}*/
.fotter_bottom p						{float:none; margin:0 auto; width:264px;}
.fotter_bottom span						{float:none; margin:0 auto; text-align:center;}

.fotter_lft								{margin:0 auto; float: none; text-align: center; padding:86px 0 0 0;      }
.fotter_rit								{ float:none; text-align:center; display:block; padding:0;} 
#mobile_menu    						{z-index:10;display:block; position:absolute; top:0; right:6px; background:url(../images/menu-btn.png) no-repeat; width:30px; height:30px;cursor:pointer;}
 nav									{float:none;  width:100%;border:none; margin:0 0 27px 0;display:none; }
 nav ul									{width:100%; padding:20px 0 0 0;}
 nav ul li								{float:none; width:100%;margin:0;padding:0;border:none;}
 nav ul li a							{padding:10px 0 6px 0;width:30%;display:inline-block;text-align:left;border-top:none;margin:0;line-height:15px;}

.collection_in ul						{width:100%;}
.collection_in ul li					{width:100%; float:none;}

.product_in ul li						{width:100%; margin:0px 0px 53px 0px; float:none;}
.banar_in h2							{font-size:42px;}

.videos									{width:50%; padding:0px;display:block; margin:0px auto;}
.videos ul li							{width:264px; height:auto; float:none;}
.videos ul li a br						{display:none;}

.rectangle								{width:98%; float:none; margin:0 auto; }
.rectangle_img img						{width:100%;}
.rectangle_img							{width:100%; display:none;}
.pro_hover_img img						{width:100%;}
.pro_hover_img							{width:100%;}
.pro_hover_img a						{bottom: -54px;}
/*.tilling_img img						{width:100%;}*/
/*.tilling_img							{width:100%; float:none;}*/
/*.tilling_txt							{width:100%; float:none; margin:0 auto; display:block; padding:0 0 45px 0;}*/
/*.base_img img							{width:100%;}*/
/*.base_img								{width:100%; float:none;}*/
/*.base_txt								{width:100%; float:none; margin:0 auto; display:block; padding:0 0 45px 0;}*/
/*.rotation_img img						{width:100%;}*/
/*.rotation_img							{width:100%; float:none;}*/
/*.rotation_txt							{width:100%; float:none; margin:0 auto; display:block; padding:0 0 45px 0;}*/

.related_section						{padding: 0px 0px 27px 0px; text-align:center;} 

.bx-wrapper .bx-viewport				{left:0;}

.download_pdf ul li						{float:none; margin: 0px 4px 8px 0px;}
/*.related_slide ul li					{ width:240px !important;}*/
.related_slide ul li a					{ width:100%;}
.related_slide ul li a span				{ width:100%;}
.related_slide ul li a span img			{ width:100%; height:auto;}

.textfield								{width:260px;}
.search_block_in						{width:468px;}
.search_block.active					{width:468px;}

.fabric_in ul							{padding:0;}
.fabric_in ul li						{float:none; margin:0 auto 2px !important; width:214px; display:block; padding:0 0 0 0;}
.product_form							{padding:29px 0px 29px 0;}
.product_form ul li						{float:none; margin:0 auto 16px; width:70%; display:block;}
.product_form ul li.searching			{float:none; margin:0 auto !important; display:block; text-align:center;}
.banar1_in								{padding:65px 0 65px 0;}
.banar1_in h2							{font-size:32px;}
.fabric_hover h2						{font-size:25px;}

.about_hover h2							{font-size:24px;}

.studio_section img						{padding:0;}
.properties								{padding:28px 0px 32px 0px;}
.studio_lft								{top:18%;}

/* ------------------mock page Hear ----------------*/
.mock_rgt iframe 						{height:300px;}

/* ------------------press page Hear ----------------*/
.upcomming								{padding:26px 0;}
.event_rgt h3							{padding:0 0 10px 0;}
.event_news								{padding:14px 0 10px 0;}
.furniture ul li						{float:none; display:block; width:100%; margin:0 auto;}


.product_in .fab.left_box{
	width:100%;
}

.fabric.plist{
	width:100%;
}

.fabric .fabric_in ul li{
	width:47% !important;
	margin:0 0 2% 2% !important;
	display:inline-block;
}



.lrc_left{
	float:left !important;
}

}

@media only screen  and (max-width: 479px) {
	
.wrapper								{margin:0 auto; padding:0 0 0 0;}	
/*.container								{width:calc(100% - 4px);}*/
.logo									{float:none; margin:0 auto; text-align:center;}
nav ul									{background:none;}
.top_rit								{margin:14px auto 0; float:none; display:block; width:100%;}
.top_rit a.search						{margin:0px 0 0px 0; position:absolute; top:10px; left:4px;}
.slider_in								{top:14px;/*padding-left:30px;*/}
/*.slider_txt								{width: 300px; margin: 0 auto;}*/
.slider_txt h2							{font-size:10px !important; padding: 0px 0px 0px 36px; line-height: 16px;}
.slider_txt p							{padding: 0px 0px 5px 0px !important; font-size:14px; line-height:20px;}
.slider_txt p br						{display:none;}
.slider_content							{margin:0 auto; width:100%;}
/*.slider_content a						{float:none; margin:6px auto 0; font-size:12px; padding:5px 10px !important;}*/
.main_slider .bx-wrapper .bx-controls-direction a{margin: -20px 0 0px 0;}
.main_slider .bx-wrapper .bx-next		{background-size: 35% auto;}
.main_slider .bx-wrapper .bx-prev		{background-size: 35% auto;}
.main_content							{margin: 64px 0px 0px;}
.left_content							{width:100%; float:none; display:block;}
.oasis									{margin:0 auto; width:314px; padding: 58px 0px -18px 0px;}
.right_content							{width:100%; float:none; display:block; }
/*.right_content ul li img				{width:100%; height:auto;}*/
.right_content ul						{padding: 13px 0px 0px 0px;}
.fotter_lft ul  						{margin:0px; padding: 0 12px;}
/*.right_content ul li:nth-last-child(1)	{ width:100%}*/
/*.right_content ul li:nth-last-child(2)	{ padding:0; float:none;}*/


.beauty									{width:100%; }

.fotter_nav ul							{width:100%; float: none; display: block; margin: 0 auto; padding: 0 0 14px 0; text-align:center;}
.fotter_nav .lastul						{width:136px; margin:0 auto;}
.fotter_rit ul li .textfield			{width:158px; font-size:12px;}
.fotter_bottom p						{float:none; margin:6px auto; width:264px;}
.fotter_bottom span						{float:none; margin:0 auto; text-align:center;}

.fotter_lft								{width:100%; margin:0px; float: none; text-align: center; }
.fotter_rit								{width:100%; float:none; text-align:center; display:block; padding:0;} 

#mobile_menu   							 {display:block; position:absolute; top:0; right:6px; background:url(../images/menu-btn.png) no-repeat; width:30px; height:30px; cursor:pointer;}
 nav									{float:none;  width:100%;border:none; margin:0 0 -17px 0;display:none; }
 nav ul									{width:100%; padding:30px 0 0 0;}
 nav ul li								{float:none; width:100%;margin:0;padding:0;border:none;text-align:center;}
 nav ul li a							{padding:10px 0 6px 0;width:30%;display:inline-block;text-align:left;border-top:none;margin:0;line-height:15px;}
.collection_in							{padding-top: 0px;} 
.collection_in ul						{width:100%;}
.collection_in ul li					{width:100%; float:none; text-align: center;}
.collection_in ul li span small			{/*width:100%; height:99.1%;*/ /*width: 350px; height: 350px;*/ /*left: 11px; left: 2px; */}

.product_in ul li						{width:100%; margin:0px 0px 0px 0px; float:none;}
.banar_in h2							{font-size:38px;}

.videos_section h3						{font-size:24px;}
.videos									{width:83%; padding:0px;display:block; margin:0px auto;}
.videos ul li							{width:264px; height:auto; float:none;}
.videos ul li a br						{display:none;}

.rectangle								{width:98%; float:none; padding: 30px 0px 0px; margin:0 auto;}
.rectangle_txt1							{float:none;}
.rectangle_txt2							{float:none; margin-left:0;}
.rectangle ul li						{margin: 0px 3px 0px 0px;}
.button1 ul li a						{font-size: 16px;}
.rectangle_img img						{width:100%; height:auto;}
.rectangle_img							{width:100%; display:none;}
.pro_hover_img img						{width:100%; height:auto;}
.pro_hover_img							{width:100%;}
.pro_hover_img a						{bottom: -54px;}
.specifications							{padding: 0px 0px 40px 10px;}
/*.tilling_img img						{width:100%;}*/
/*.tilling_img							{width:100%; float:none;}*/
/*.tilling_txt							{width:100%; float:none; margin: 42px 0px 40px 0px;}*/
/*.base_img img							{width:100%;}*/
/*.base_img								{width:100%; float:none;}*/
/*.base_txt								{width:100%; float:none; margin: 42px 0px 40px 0px;}*/
/*.rotation_img img						{width:100%;}*/
/*.rotation_img							{width:100%; float:none;}*/
/*.rotation_txt							{width:100%; float:none; margin: 42px 0px 40px 0px;}*/
 

.bx-wrapper .bx-viewport				{left:0;}

.related_section						{padding: 0px 0px 27px 0px; text-align:center;}

/*.related_slide ul li					{ width:100vw !important;}*/
.related_slide ul li a					{ width:100%;}
.related_slide ul li a span				{ width:100%;}
.related_slide ul li a span img			{ width:100%; height:auto;}
ul.video_slider li 						{width: 100% !important;}
.videos ul li .video1					{background-size: 100% !important;}

.download_pdf ul li						{float:none; margin: 0px 4px 8px 0px; width:315px; font-size:11px;}

.textfield								{width:110px !important;}
.search_block_in						{width:330px !important;}
.search_block.active					{width:330px !important;}
.search_block {
    top: -4px;
}

/*.about_hover h2							{font-size:18px; line-height:18px; padding:0;}
.about_hover a							{width:114px; padding:2px 0 2px 0;}
*/
.banar1_in								{padding:50px 0 50px 0;}
.banar1_in h2							{font-size:28px;}

.studio_lft								{top:14%; display: none;}
.wrapper								{overflow-x:hidden;}
.studio_section img 					{width: 100%;}
.studio_section 						{margin-left: 0px; width: 100%;}
.studio_in 								{margin-bottom: 0px;}
.config_img_contener .config_img.indicator 		{display: none;}

/* ------------------press page Hear ----------------*/
.press h2								{font-size:24px; line-height:24px;}
.press_nav								{padding:11px 16px 10px;}
.whats_new h2							{font-size:24px; line-height:24px;}
.whats_new ul li						{float:none; display:block; width:250px; margin:0 auto;}
.furniture h2							{font-size:24px; line-height:24px;}
.home_txt								{max-height: 500px !important;/*max-height: 480px !important;*/}
/*.main_slider .bx-wrapper .bx-viewport	{height: 180px !important}*/

/*-------------------Product Nav --------------------*/
.product_nav							{padding-left: 15px;}
.product_in ul li em					{max-width: 100%;}

.about_in								{margin-bottom: -20px; margin-top: 0px; padding: 0px 1px;}
.about_in table tr 						{display: block; margin-bottom: 20px;}
.about_in table tr td					{display: block; width: 100%;}
.about_in table tr:nth-child(even)		{display: none;}

.fancybox-inner{
	height: auto !important;
}
.fancybox-inner > div > div{
	padding: 0px !important;
	display: block !important;
	float: none !important;
	margin: 0 auto !important;
}
.fancybox-inner .login_middle_line{
	display: none !important;
}
.fancybox-inner .hide_div{
	display: none !important;
}
.plist .nc_news_one_item{
	display: none;
}
.ttg.product_in{
	width: 97%;
	float: left;
}
.cs_i_nav_offsets > div:first-child{
	width: 100% !important;
	margin-bottom: 10px !important; 
}
.cs_i_nav_offsets > div:nth-child(2){
	float: left !important;
}
.news_one_item .text.file_uploaded{
	display: none;
}
.news_one_item .text.file_size{
	display: none;
}
.news_one_item .text.file_type{
	display: none;
}
.product_in .cms.left_box{
	width: 90%;
    padding: 0px 20px;
    float: none;
}
.plist #loadMore{
	float: none !important;
	margin: 10px auto;
}
.filter_group.ext .filter_header .title{
	margin-left: 0px;
}
.filter_group.ext .filter_content div{
	/*padding-left: 0px;*/
}
.account-form .center_view .left{
	width: 90%;
    display: block;
    float: none;
    margin: 0 auto;
}
.account-form .center_view .cv_right{
    width: 90% !important;
    margin: 0 auto;
    float: none !important;
}
.account-form .center_view .cv_right .form_line{
	width: 100%;
}
.dropdown_link_cate2{
	
	position: relative;
	width: 100%;
	left: 0px;
    padding: 0;
    top: 5px;
}
.dropdown_link_cate2 .nav_name{
	float: none !important;
}
.slider img{ 
	/*height: 180px !important;*/
}
.slider_txt h2{
	font-size: 16px !important;
}
.slider_txt p{
	font-size: 24px;
}
.right_content ul li{
	padding: 0px;
}
ul.bxslider li:nth-child(2) .slider_in{
    top: 44px;
}
ul.bxslider li:nth-child(3) .slider_in{
    top: 44px;
}
ul.bxslider li:nth-child(4) .slider_in{
    top: 54px;
}
ul.bxslider li:nth-child(5) .slider_in{
    top: 54px;
}
ul.bxslider li:nth-child(6) .slider_in{
    top: 24px;
}


/*
.product_in .plist img:hover{
    margin-left: -1px;
}*/

    .rectangle img{
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    .international_dealer h2{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "FormataBQ", "Arial", Verdana, Tahoma;
        font-size: 36px;
        font-weight: normal;
        line-height: 46px;
        color: #ffffff;
        display: block;
        text-align: center;
    }
    .international_dealer img{
        z-index: 0;
        height: 250px;
        width: auto;
        float: right;
    }
    .international_dealer{
        position: relative;
    }
    .about_in table tr td{
        margin-top: 30px;
    }
    .about_in table tr td:nth-child(even){
        display: none;
    }
    .about_in table tr{
        margin-bottom: 0px;
    }
    .about_in table tr:first-child td:last-child {
        margin-top: 15px;
    }
    .about_in table tr:nth-child(5) td:first-child {
        margin-top: 15px;
    }
    .about_in ul li{
        margin-bottom: 3px;
    }
    .about_in{
        padding: 0px 2px;
    }
    #map{
        height: 250px;
    }
    /*#id_contact_us_form textarea.contact_us_item{
        width: 330px !important;
        padding: 0px;
        padding-left: 10px;
    }*/
    .lrc_right, .lrc_left{
        width: 100% !important;
    }
    .fancybox-inner{
        overflow: hidden !important;
    }
    .fancybox-inner a.btn_reg{
        width: 100%;
    }
    .fancybox-inner .btn_login.common_black{
        width: 100%;
    }
    .fancybox-inner #id_form_login input{
        width: calc(100% - 10px);
    }
    .teamtg_home{
        padding-top: 100px;
    }
    .teamtg_content{
        max-width: 260px !important;
        float: none;
    }
    
    .teamtg_menu{
        padding-left: 20px;
        width: 900px !important;
    }
    .teamss_articles_list .btn_login{
        width: 100% !important;
    }
    .noleft .news_one_item .text.file_name{
        width: auto;
    }
    .noleft .file_title{
        width: auto;
    }
    .news_one_item .text.file_links{
        width: auto;
    }
    .plist .cs_i_nav_offsets{
        padding-left: 15px;
    } 
    
    
    .nav_name a{
    	text-align:left;
    	padding-left:35%;
    }
}

 
@media only screen  and (max-width: 330px) {
	.search_block.active {
		width:253px;
	}
	.search_block_in {
	    width: 250px;
	}
}

@media only screen  and (min-width: 770px) {
 nav     {display:block !important;}
 
	
}



@media only screen  and (min-width: 600px) {
 nav     {display:block !important;}
 
 	.base_txt.base_txt_ext{
		margin-top:50px;
	}
	
	
}


@media only screen and (min-width: 770px) and (max-width: 2600px) {
 	.base_txt.base_txt_ext{
		margin-top:calc(26% - 125px);
	}
}

@media only screen  and (min-width: 1024px) {
	.tg_ul li a:hover span{
		display:inline-block;
	}
	
	.fabric_in ul li:hover .fabric_hover		{
opacity:1;
    -webkit-transition: opacity 0.4s ease-out; 
    -moz-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
}

.fabric_hover								{padding:0; margin:0; opacity: 0;transition: opacity 1s ease-out 0s; background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;  width:100%; height:100%; position:absolute; top:0; left:0;}
	
	/*.product_in .cms.left_box {
		margin-bottom:20px;
	}*/
}