@import url("fonts.css");
@import url("common.css");
@import url("content.css");
@import url("product.css");
@import url("user.css");

@import url("watch.css");


@import url("jquery.bxslider.css");

@import url("style.css");

@import url("responsive.css");




ul.color_list {
}
ul.color_list li {
    cursor: pointer;
    float: left;
    margin-right: 5px;
    padding: 0;
}
ul.color_list li.selected {
}
ul.color_list li img.img_color {
}
ul.color_list li img.img_color.selected {
    display: none;
}
ul.color_list li.selected img.img_color.selected {
    display: inline;
}
ul.color_list li.selected img.img_color {
    display: none;
}
.by_price_list.by_trend {
}
.by_price_list.by_trend .by_trend_line {
    background: url("../images/buttons/btn_checkbox.png") no-repeat scroll 0 0 transparent;
    color: #666;
    cursor: pointer;
    height: 15px;
    margin: 10px 0;
    padding: 0 0 0 25px;
}
.by_price_list.by_trend .by_trend_line.selected {
    background-position: 0 -15px;
}
.by_price_list.by_trend .by_trend_line:first-child {
    margin-top: 5px;
}
.by_price_list.by_color {
    height: 45px;
    overflow: hidden;
}
.by_price_list.by_color.full {
    height: auto;
}
.show_all_color {
    cursor: pointer;
    font-size: 12px;
    margin-top: 4px;
}
.center_view .left{
	margin-right:30px;
}
.leftbox_line {
}
.leftbox_line a:hover, .leftbox_line.selected a {
	color:#669463;
    text-decoration: none;
    font-weight:bold;
}
.leftbox_line.sub_line a {
    padding-left: 20px;
}
.grid_quick_view {
    background-color: #8dd5bd;
    color: #fff;
    display: inline-block;
    float: right;
    font-size: 16px;
    line-height: 46px;
    min-width: 100px;
    padding: 0 5px;
}
.popup_quickview {
    background: none repeat scroll 0 0 #fff;
    margin: 20px auto 0;
    width: 750px;
}
.popup_quickview_l {
    float: left;
    overflow: hidden;
    width: 400px;
}
.popup_quickview_c {
    float: left;
    margin: 0 18px;
    width: 310px;
}
.popup_quickview_r {
    float: left;
    margin: 10px 18px;
    width: 310px;
}
.popup_quickview_r div {
}
.popup_quickview_img, .popup_largeimage_img {
    border: 1px solid #ddd;
    margin-bottom:10px;
}
.popup_quickview_img_small a {
    border: 1px solid #ddd;
    float: left;
    margin: 10px 10px 0 0;
}
.popup_quickview_img_small a:hover {
    border: 1px solid #ddd;
}
.popup_quickview_desc {
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 5px;
    padding-bottom: 10px;
}
.popup_quickview_desc h4 {
    color: #f07b36;
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    text-transform: uppercase;
}
.popup_quickview_sku {
    color: #4d4d4d;
    font-size: 12px;
    margin-top: 10px;
}
.popup_quickview_text {
    color: #6d6e70;
    font-size: 12px;
    line-height: 21px;
    margin-top: 10px;
    max-height: 215px;
    overflow: hidden;
}
.popup_quickview_text1 {
    color: #0066cc;
    font-size: 13px;
    margin-top: 5px;
}
.popup_quickview_option {
}
#id_qv_p_sku {
    color: #f07b36;
}
td.pop_title.new {
    background: none repeat scroll 0 0 #000;
    color: #fff;
    padding: 10px;
}
.pop_title .sc_title {
    float: left;
    line-height: 22px;
    text-align: left;
}
.category_attribute_value_line {
    cursor: pointer;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
}
.by_price_list.new li {
    cursor: pointer;
    height: 25px;
    line-height: 25px;
    padding-left: 15px;
}
.cs_i_content td {
    line-height: 15px;
    vertical-align: top;
}
.by_material_list ul li {
    border: 1px solid #ccc;
    display: none;
    float: left;
    margin: 0 0 5px 10px;
}
.by_price ul li.more_or_less, .by_material_list ul li.more_or_less {
    border: 1px solid #ccc;
    clear: both;
    display: block;
    float: none;
    width: 70px;
}
.by_price ul li:hover, .by_material_list ul li:hover {
    background: none repeat scroll 0 0 #8dd5bd;
}
.by_material, .by_price {
    clear: both;
    float: none;
}

#id_qv_p_qty{
	height:30px;
	line-height:30px;
	width:60px;
	border-radius: 5px;
	margin-right: 30px;
	text-align: center;
}

.button_css{
	margin-top:20px;
}
.bulk_item{
		width: 100%;
}
.lightbluebar {
	background-color: #373737;
	color: #fff;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	margin: 5px 0 15px 0;
	padding: 0 0 0 1%;
	width: 100%;
}
.nile_item_no,.nile_qty{
	font-style:italic;
	padding:3px 0px 3px 8px;
	background:#fff;
	width:230px;
}
.nile_qty{
	width:40px;
}
.nile_item_des{
	padding:5px;
	background:#fff;
	min-height:90px;
	width:280px;
	overflow:auto;
}
.new_btn_addmore{
	width:180px;
	height:40px;
	line-height:40px;
	text-align:center;
	background:#373737;
	color:#fff;
	float:right;
	margin:0 20px 0 0;
	cursor:pointer;
}
.new_btn_continue{
	width:180px;
	height:40px;
	line-height:40px;
	text-align:center;
	background:#f0752f;
	color:#fff;
	float:right;
	cursor:pointer;
}.new_btn_continue.placeorder{
	float:none;
	margin:0 auto;
}