/*====================================== reset.css is here ========================================*/


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;}
table {	border-collapse:collapse; border-spacing:0;}
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal;}
ol,ul { list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {	font-size:100%;	font-weight:bold;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
input {  border-radius:0; }

input[type="checkbox"] { -webkit-appearance: checkbox; -moz-appearance: checkbox; -ms-appearance: checkbox;-o-appearance: checkbox; appearance: checkbox; border-radius:0; }

.clear{clear:both; font-size:1px;line-height:1px; display:block; height:0;}
.clrflt{clear:both;}
.last	{margin:0 !important;}
.pad_last{padding:0 !important;}
.no_bg {background:none !important;}
.no_bd {border-bottom:none !important;}
header,nav,section,article,aside,footer,hgroup {display: block;}
/**************************************************************************************/
a											{color:#000; text-decoration:none; outline:0 none;}
a:hover										{color:#000;  text-decoration:none;}
h1											{font-size:24px;}
h2											{font-size:22px;}
h3											{font-size:18px;}
h4											{font-size:16px;}
h5											{font-size:14px;}
h6											{font-size:12px;}
/*----------------------------------------------------------------------------------*/
html 										{}
body										{color:#333; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px;}
.flt_lt										{float:left; display:inline;}
.flt_rt										{float:right; display:inline;}
/* ---------------------------------------------------------------------------------*/


/* ----------------------- layout ----------*/
.wrapper									{margin:0 auto; padding:91px 0 0 0;}
.container									{max-width:1080px;width:100%;    padding: 0 20px;    box-sizing: border-box; margin:0 auto; border-top:0 none;}
.main_content								{}
header										{width:100%; margin:0; padding:24px 0 24px 0; background:#ffffff; display:block; position:fixed; left:0; top:0; z-index:9999; -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out;
    -o-transition:  all 0.5s ease-out;
    transition:  all 0.5s ease-out;}
/*-------------------------------------------*/
header.stick_header{top:-20px;  -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition:  all 0.5s ease-out;
    transition:  all 0.5s ease-out;}
	.stick_header .logo{width:250px; margin:12px auto 0;  -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition:  all 0.5s ease-out;
    transition:  all 0.5s ease-out;}
	.stick_header .logo img{width:100%; height:auto;  -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition:  all 0.5s ease-out;
    transition:  all 0.5s ease-out;}
	.stick_header .top_rit a.team_gt{  padding: 0 0 0 18px; margin:0 0 0 26px;}
	.stick_header .top_rit a.search img{margin:8px 0 0 0;}
	.stick_header nav{padding:8px 0 0 0;}

/* ------------------ HEADER HERE -------------------*/
.logo										{margin:0; padding:0; float:left; display:block;}
/* ---------------------------------------------------------*/

.search_block								{ margin:0 0 0px 0;  position:absolute; top:-10px; right:0; width:0px; z-index:99999999; overflow:hidden;-webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition:  all 0.5s ease-out;
    transition:  all 0.5s ease-out;}
.search_block.active						{ width:655px;}
.overlay									{ width:100%; height:100%;  opacity:0.7; position:fixed; display:none; z-index:99999; top:0;}
.overlay.overla								{ display:block;}
.search_block_in							{padding:6px 0 6px 0; background:#fff; width:700px;     text-align: left;}
.search_block img                          {margin:0 5px 0 0px; padding:0; cursor:pointer;}
.search_block img.mag-icon							{margin:0; padding:0; cursor:default;width:18px; position: relative;    top: 3px;}
.textfield									{width:490px; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-weight:normal; margin:0 0 0 0; padding:4px 20px 2px 10px;  font-size:14px; color:#c4c4c4; border:none; background:none; outline:none; border-bottom: 1px solid #bfbfbf;}
.search_but									{cursor:pointer; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-weight:normal; margin:0 0 0 18px; padding:2px 11px 2px 11px;  font-size:12px; color:#ffffff; background:#505050; border:none;}
.search_block .cross						{margin:0; padding:0 0 0 5px;}

/* ------------------------- NAVIGATION HERE ---------------*/
.top_rit									{margin:14px 0 0 0; padding:0; float:right; display:inline-block; position:relative;}
nav											{position:relative;margin:0; padding:0; float:left; display:inline-block;}
/*nav ul										{margin:0; padding:0 15px 0 0; float:left; display:inline-block; background:url(../images/nav_line.png) no-repeat right center;}*/
nav ul										{margin:0; padding:0 15px 0 0; float:left; display:inline-block; }
nav ul li									{margin:0 14px 0 14px; padding:0; float:left; display:inline-block;}
nav ul li a									{margin:0; padding:0 0 5px 0; font:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px; font-weight:normal; line-height:14px; color:#505050;}
nav ul li a:hover							{background:url(../images/hover_underline.png) no-repeat bottom center;}
.top_rit a.team_gt 							{position:relative;margin:0 0 0 26px; padding:0 0 0 18px; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px; font-weight:normal; line-height:14px; color:#505050; background:url(../images/team_gt.png) no-repeat left top; display:inline-block; float:left; cursor:pointer;}

.tg_hover{position:absolute;width:100%;height:8px;top:14px;left:3px;}
.top_rit a.team_gt:hover .tg_hover							{background:url(../images/hover_underline.png) no-repeat bottom center;}
.top_rit a.team_gt img						{margin:0; padding:0;}
.top_rit a.search							{margin:0 0 0 80px; padding:0; display:inline-block; float:left; cursor:pointer;}
.top_rit a.search img						{margin:0; padding:0;}
/* ---------------------------------------------------------*/

/* ------------------------ SLIDER CONTENT HERE --------------*/
.slider										{width:100%; margin:0; padding:0; display:block; position:relative;}
.slider img									{width:100%; height:auto; margin:0 auto; padding:0; display:block;}
	
.left_arrow									{margin:0; padding:0; position:absolute; top:43%; left:0; float:left;}
.right_arrow								{margin:0; padding:0; position:absolute; top:43%; right:0; float:right;}
.left_arrow	a								{margin:0; padding:0; display:block;}
.right_arrow a								{margin:0; padding:0; display:block;}

.slider_in									{width:100%; position:absolute; left:0; top:190px;/*padding-left:143px;*/}
.slider_in.middle{padding:0;}
.slider_in.right{}
.slider_content                               {float: none !important; width: auto !important;}
/*.slider_content								{width:440px; margin:0; padding:0; display:block;}*/
/*.slider_content.left						{margin:0;width:auto;}*/
/*.slider_content.middle						{margin:0 auto;}*/
/*.slider_content.right						{margin:0 300px 0 auto;}*/
.slider_content.middle h2, .slider_content.middle p{text-align:center;}
.slider_content.right h2, .slider_content.right p{text-align:right;}
.slider_content.left h2, .slider_content.left p{text-align:left;}
/*.slider_txt									{width:440px; margin:0; padding:0; }*/
/*.slider_txt.right							{float:right; }*/

.slider_txt h2								{margin:0 0 0 0; padding:0px 0 0 0px  !important; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:12px  !important; font-weight:normal; line-height:44px; color:#ffffff; display:block; text-align:left;text-transform:uppercase;}
.slider_txt p								{margin:2px 0 0 0; padding:0 0 20px 0px  !important; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:35px ; font-weight:normal; line-height:38px; color:#ffffff;  text-align:left; text-transform:uppercase;}
.slider_content a							{clear:both;margin:0; padding:10px 20px !important; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:12px !important; font-weight:normal; line-height:14px; color:#ffffff;  background:#669463; width: 69px; !important; text-align:center; /*float:left;*/}
.slider_content a:hover						{background:#a7a9ac;}
/*.slider_in .left .slider_content a{ float:left;}*/
/*.slider_in .middle .slider_content a{ margin:0 auto; float:none;}*/
/*.slider_in .right .slider_content a{ float:right;}*/
.slider_in.middle .slider_content a    {margin: 0 auto;}

.main_slider .slider.bx-wrapper .bx-pager				{text-align:center;}
.main_slider .bx-wrapper .bx-controls-direction a{height:72px; width:39px; top:44% !important;}
.main_slider .bx-wrapper .bx-prev			{background:url(../images/left_arrow.png) no-repeat left 0;}
.main_slider .bx-wrapper .bx-next			{background:url(../images/right_arrow.png) no-repeat right 0;}
.main_slider .bx-wrapper .bx-viewport					{border:none !important;}
.main_slider .bx-wrapper .bx-pager.bx-default-pager a	{background:#bcbdc1 !important;}
.main_slider .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{background:#699466 !important;}

/* ---------------------------------------------------------*/


/* ------------------------ MIAN CONTENT HERE --------------*/
.main_content								{width:100%; margin:81px 0 0 0; padding:0;}
.left_content								{width:40%; margin:0; padding:0; float:left; display:block;}	
.left_content img							{margin:0; padding:0; display:block; cursor:pointer;width:100%; height:auto;}
.left_content img:hover						{opacity:0.7;}		
.oasis										{width:100%; margin:0; padding:83px 0 86px 0; display:block; text-align:center;}
.oasis h2									{margin:0 0 0 0; padding:0 0 0 0; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:30px; font-weight:normal; line-height:30px; color:#515151; display:block; text-transform:uppercase;}
.oasis p									{margin:0 0 0 0; padding:12px 0 12px 0; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:12px; font-weight:normal; line-height:12px; color:#515151; display:block; text-transform:uppercase; background:url(../images/underline_bg.png) no-repeat bottom center;}
.oasis a									{margin:13px 0 0 0; padding:0 0 0 0; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:12px; font-weight:normal; line-height:12px; color:#669463; display:inline-block; text-transform:uppercase;}
.oasis a:hover								{color:#548051;}

.right_content								{width:calc(60% - 2px); margin:0; padding:0 0 0 0; float:left; display:block;margin-left: 2px;}
.beauty										{width:640px; margin:0; padding:72px 0px; display:block; text-align:center;}
.beauty img									{margin:0 auto; padding:0; display:block;}
.beauty h2									{margin:0 0 0 0; padding:11px 0; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:30px; font-weight:normal; line-height:30px; color:#515151; display:block; text-transform:uppercase; background:url(../images/underline_bg.png) no-repeat bottom center;}
.beauty a									{margin:0; padding:12px 0 0 0; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:12px; font-weight:normal; line-height:12px; color:#669463; display:inline-block; text-transform:uppercase;}
.beauty a:hover								{color:#548051;}
.right_content ul							{margin:0 0 0 0; padding:0 0 0 0; display:block;}
.right_content ul li						{margin:0 2px 2px 0; padding:0; display:inline-block; float:left;width:calc(50% - 2px);}
.right_content ul li img					{margin:0 0 0 0; padding:0 0 0 0; display:block; cursor:pointer;width:100%; height:auto;}
.right_content ul li img:hover				{opacity:0.7;}
.right_content ul li:nth-last-child(1)  { width:calc(100% - 2px);}

.back_top									{width:100%; margin:0 auto; padding:45px 0 40px 0;  display:block; text-align:center;}
.back_top a									{margin:0 auto; padding:0;}
.back_top a img								{margin:0 auto; padding:0;}
/* ---------------------------------------------------------*/

@media only screen and (min-width: 1025px) {
    .li_cate_link2:hover + .dropdown_link_cate2,
    .li_cate_link:hover + .dropdown_link_cate {
        display: block;
    }
    .dropdown_link_cate2:hover,
    .dropdown_link_cate:hover {
        display: block;
    }
}
@media only screen and (min-width: 1570px) {
    /*.product_in .left_box {
        position: absolute;
        margin-left: -240px;
        padding-left: 0px !important;
    }*/
    .product_in .fab.left_box {
        padding: 50px 0;
        width: 240px;
    }
}
/* ------------------ FOOTER HERE --------------------------*/
footer										{width:100%;padding-top: 30px;background-color: black; display:block;}
.fotter_lft									{margin:86px 0 0 10px;margin-top: -15px; padding:0; display:inline-block;  float:left;}
.fotter_lft ul								{margin:0; padding:0; display:inline-block;}
.fotter_lft ul li							{margin:0 24px 0 0; padding:0;display:inline-block; float:left;}
.fotter_lft ul li a							{margin:0; padding:0;display:inline-block;}
.fotter_lft ul li a:hover					{opacity:0.8;}
.message                                    {margin-bottom: 40px; text-align: center;}
.fotter_rit									{ margin:-38px auto 0;padding:0 10px 12px 0; float:right; display:inline-block;}
.fotter_rit ul							    { margin:21px 0 0 0px;padding:0; display:inline-block;}
.fotter_rit ul li 						    { margin:0 15px 0px 0;padding:0; display:block; float:left;}
.fotter_rit ul li .textfield				{font-family:"FormataBQ", "Arial", Verdana, Tahoma; width:386px; margin:0 0 0 0; padding:17px 10px 17px 10px; background:#ffffff; font-size:14px; color:#c4c4c4; border:none; line-height:14px; height:auto; outline:none;}

.fotter_rit ul li .button					{ width:126px; margin:0 0 0px 0px;padding:18px 0 18px 0; background:#669463; border:none; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:13px; font-weight:normal; color:#ffffff; line-height:13px; height:auto; display:block; cursor:pointer;}
.fotter_rit ul li .button:hover					{background:#548051;}

.fotter_nav									{width:100%;margin-top: 20px;   display:inline-block; border-top: 1px solid #c4c4c4;}
.fotter_nav ul								{margin:0 0 0 0; padding:0; display:inline-block; float:left; list-style-type:none; width:40%;}
.fotter_nav ul li							{margin:12px 0 0 0; padding:0; display:block;}
.fotter_nav ul li a 						{margin:0 0 0 0; padding:0; display:inline-block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:13px; color:#669463; line-height:13px; text-transform:uppercase;}
.fotter_nav ul li a:hover					{color:#4c4b4b;}
.fotter_nav .lastul							{width:20%; /*text-align: right;*/}
.fotter_nav ul li.lastimg					{margin:13px 0 0 0; padding:1px 0 0 18px; font:"FormataBQ", "Arial", Verdana, Tahoma; font-size:13px; font-weight:normal; line-height:13px; background:url(../images/team_gt.png) no-repeat left top; display:inline-block;}

.fotter_bottom								{width:100%; margin:0; padding:18px 0 35px 0; background:#505050; display:block;}
.fotter_bottom p							{margin:0 0 0 0; padding:0 0 0 15px; display:block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:13px; color:#ffffff; line-height:13px; float:left; background:url(../images/landmark_icon.png) no-repeat left top;}
.fotter_bottom span							{margin:0 0 0 0; padding:0; display:block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:13px; color:#ffffff; line-height:13px; float:right;}
/* ---------------------------------------------------------*/

/* ------------------ Collections page Hear ----------------*/
 
.collection									{width:100%; margin:0; padding:0; display:inline-block; background:#ffffff; border-top:1px solid #ededed;}
.collection_in								{margin:0 0 0 0; padding:50px 0 0 0; display:block;}
.collection_in ul							{margin:0; padding:0; display:block;}
.collection_in ul li                        {margin:3px; padding:0; display:block; float:left; position:relative; cursor:pointer; width: calc(33.3% - 6px);}
.collection_in ul li a					     { display:block; }

.collection_in ul li img					{padding:0; margin:0; width:100%; height:auto;}
.collection_in ul li span					{height: 100%; text-align: center; font-family:"FormataBQ", "Arial", Verdana, Tahoma;  font-weight:normal;  color:#ffffff; text-transform:uppercase; text-shadow: 2px 1px 3px #666; width:100%; height:100%; position:absolute; top:0; left:0;}
.collection_in ul li span small				{display: table; width:100%; height:100%; text-align: center; font-size:24px; line-height:24px;  text-transform:uppercase; text-shadow: 2px 1px 3px #666; z-index:999; position:relative; 
}
.collection_in ul li span small em			{display: table-cell; vertical-align: middle; font-style:normal; }

.collection_in ul li:hover small			{ }

}

/* ---------------------------------------------------------*/

/* ------------------ product Listing page Hear ----------------*/

.banar_content								{width:100%; margin:0px 0 0 0; padding:0; background:url(../images/banar_product.png) no-repeat; border-top:1px solid #ededed;}
.banar_in									{margin:0px 0 0 0; padding:104px 0 100px 0;}
.banar_in h2								{margin:0 0 0 0; padding:0px 0 0px 0; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:46px; font-weight:normal; line-height:46px; color:#ffffff; display:block; text-transform:uppercase; text-align:center; background:url(../images/product_line.png) no-repeat center center; text-shadow: 2px 1px 3px #666;}

.product_nav								{font-size:12px;margin:5px 0 0px 0; padding:11px 0 10px 0; display:block; background:#e3e3e3;}
.product_nav ul								{margin:0 0 0 18px; padding:0; display:inline-block;}
.product_nav ul li							{margin:0 8px 0 0; padding:0; display:inline-block; float:left;}
.product_nav ul li a						{margin:0; padding:0; display:inline-block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px; font-weight:normal; line-height:14px; color:#868686;}
.product_nav ul li a:hover					{color:#000000;}

.product_in									{width:100%; margin:0; padding:0; display:block;/*margin-top:-20px;*/}
.product_in ul								{margin:0; padding:0; display:block;}
.product_in ul li							{min-height:300px;margin:40px 0px 0px 10px; padding:0; display:inline-block; float:left;    width: calc(25% - 12px);}
.product_in ul.plist.threeinarow li         {width: calc(33.3333% - 12px);}
.product_in ul.plist.twoinarow li         {width: calc(50% - 12px);}
.product_in ul li a							{margin:0; padding:0; display:block;text-align: left;cursor: default;}
.product_in ul li small						{margin:12px 0 0 0; padding:0px 0 0px 0; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px; font-weight:normal; line-height:14px; color:#505050; display:block; text-transform:uppercase;}
.product_in ul li em						{margin:6px 0 0 0; padding:0px 0 0px 0; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px; font-weight:normal; line-height:18px; color:#505050; display:block;}

/* ---------------------------------------------------------*/

/* ------------------ product Details page Hear ----------------*/
 
.pro_details								{width:100%; margin:0; padding:0 0 0 0;  background:url(../images/top_separator2.jpg) no-repeat center top #f6f6f6; display:block; box-shadow:0px 1px 6px #c4c4c4;}
.specifications								{margin:0px 0 0 0; padding:0 0 73px 0; display:block;}
.rectangle									{    width: 39%; margin:0; padding:76px 0 0 0; display:block; float:left;}
.rectangle h2								{margin:0px 0 0 0; padding:0 0 0px 0; display:block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:30px; font-weight:normal; line-height:34px; color:#505050;}
.rectangle p								{margin:6px 0 0 0; padding:0 0 12px 0; display:block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px; font-weight:normal; line-height:17px; color:#505050; background:url(../images/rectangle_underline.png) no-repeat left bottom;}

.rectangle_txt1								{/*width:165px;*/ margin:12px 0 0 0; padding:0; display:block; float:left;}
.rectangle_txt1 span						{margin:0px 0 0 0; padding:0 0 0px 0; display:block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:13px; font-weight:normal; line-height:17px; color:#000000;}
.rectangle_txt1 span em						{color:#7b7b7b;}

.rectangle_txt2								{width:225px; margin:12px 0 0 12px; padding:0; display:block; float:left;}
.rectangle_txt2 span						{margin:0px 0 0 0; padding:0 0 0px 0; display:block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:13px; font-weight:normal; line-height:17px; color:#000000;}
.rectangle_txt2 span em						{color:#7b7b7b;}

.rectangle h3								{margin:12px 0 0 0; padding:0 0 0px 0; display:block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px; font-weight:normal; line-height:14px; color:#000000;}

.rectangle ul								{margin:8px 0 0 0; padding:0; display:block;}
.rectangle ul li							{margin:0 10px 0 0; padding:0; display:block; float:left;}
.rectangle ul li a							{
color: #ffffff;
    display: table-cell;
    font-family: "FormataBQ","Arial",Verdana,Tahoma;
    font-size: 14px;
    font-weight: normal;
    height: 50px;
    line-height: 14px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    width: 100px;
	}
.rectangle ul li h4							{margin:8px 0 0 0; padding:0; display:block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px; font-weight:normal; line-height:14px; color:#000000;}
.rectangle ul li a.color1					{ background:url(../images/color1.png) no-repeat;}
.rectangle ul li a.color2					{background:url(../images/color2.png) no-repeat;}
.rectangle ul li a.color3					{ background:url(../images/color3.png) no-repeat;}

.button1									{ margin:27px 0 0 0; padding:0; display:inline-block;}
.button1 ul									{margin:0; padding:0; display:block;}
.button1 ul li								{margin:0 10px 0 0; padding:0 0px 0 0; display:inline-block; float:left;}
.button1 ul li a							{margin:0px 0 0 0; padding:11px 13px 11px 13px; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:20px; font-weight:normal; line-height:20px; color:#ffffff; display:block; background:#505050; width: inherit; cursor:pointer;height:20px;}
.button1 ul li a:hover						{background:#353434;}

.rectangle_img								{width:61%;margin:67px 0 0 0; padding:0; float:right; display:block;}
.rectangle_img img							{margin:0 -32px 0 0; padding:0; display:block;}
.tilling_section							{min-height:0px;width:100%; margin:0 0 -3px 0; padding:0; display:inline-block;}
.tilling_img								{margin:0 0 0 0; padding:0; /*float:left; */    width: 76%; display:inline-block;vertical-align: middle;}
.tilling_img img							{margin:0px 0 0 0; padding:0; display:block;max-width:100%; height:auto;}

.domentions                                 {margin:0; padding:0; display:none; width:100%;}
.domentions .container 						{margin:0;}
.pro_hover									{width:100%; margin:0 0 0 0; padding:67px 0px 63px 0px; display:block;}
.pro_hover_img								{margin:-6px 0 0 0; padding:0; display:block;  position:relative;}
.pro_hover_img img							{margin:0; padding:0; display:block;max-width:550px;width:100%;height:auto;}
.pro_hover_img a							{margin:0px 0 0 0; padding:11px 20px 11px 20px; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:20px; font-weight:normal; line-height:20px; color:#ffffff; display:inline-block; background:#505050; position:absolute; bottom:4px; left:0; cursor:pointer;}
.pro_hover_img a:hover						{background:#353434;}

.domentions .pro_hover_img img              {max-width:none;}

.tilling_txt								{width:23%; margin:0 0 0 0; padding:0; /*display:block; float:left;*/display: inline-block;vertical-align: middle;}
.tilling_txt img							{margin:0 auto; padding:0; display:block;}
.tilling_txt h2								{margin:18px 0 0 0; padding:0 0 18px 0; display:block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:27px; font-weight:normal; line-height:27px; color:#3e3e3e; text-align:center; background:url(../images/tilling_underline.png) no-repeat center bottom;}
.tilling_txt p								{margin:18px 0 0 0; padding:0; display:block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:13px; font-weight:normal; line-height:16px; color:#3e3e3e; text-align:center;}

.base_section								{/*min-height:550px;*/width:100%; margin:0; padding:0 0 0px 0; display:inline-block; background:url(../images/top_separator2.jpg) no-repeat center top #f6f6f6;}

.base_img									{margin:0 0 0 0; padding:0; float:right; width: 76%; display:inline-block;vertical-align: middle;}
.base_img img								{margin:0 auto; padding:0; float:right;display:block; max-width:100%;/* width: 100%;*/}
.base_img_ext2{width:60%;}
.base_txt									{width:23%;  margin:170px 0 0 0; padding:0; /*display:block;*/ float:left;display: inline-block;vertical-align: middle;}


.base_txt img								{margin:0 auto; padding:0; display:block;max-width:550px;}
.base_txt h2								{margin:18px 0 0 0; padding:0 0 18px 0; display:block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:27px; font-weight:normal; line-height:27px; color:#3e3e3e; text-align:center; background:url(../images/tilling_underline.png) no-repeat center bottom;}
.base_txt p									{margin:18px 0 0 0; padding:0; display:block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:13px; font-weight:normal; line-height:16px; color:#3e3e3e; text-align:center;}

.rotaion_section							{/*min-height:550px;*/width:100%; margin:-2px 0 -3px 0; padding:0; display:inline-block; background:url(../images/top_separator.jpg) no-repeat center top #ffffff;}
.rotation_img								{margin:0 0 0 0; padding:0; /*float:left; display:block;*/width: 76%; display:inline-block;vertical-align: middle;}
.rotation_img img							{margin:0 0 0 0; padding:0; display:block;width:100%;}

.rotation_txt								{width:23%; margin:0 0 0 0; padding:0; /*display:block; float:right;*/display: inline-block;vertical-align: middle;}
.rotation_txt img							{margin:0 auto; padding:0; display:block;}
.rotation_txt h2							{margin:18px 0 0 0; padding:0 0 18px 0; display:block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:27px; font-weight:normal; line-height:27px; color:#3e3e3e; text-align:center; background:url(../images/tilling_underline.png) no-repeat center bottom;}
.rotation_txt p								{margin:18px 0 0 0; padding:0; display:block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:13px; font-weight:normal; line-height:16px; color:#3e3e3e; text-align:center;}

.related_section							{width:100%; margin:0; padding:0 0 27px 0px; display:block; background:url(../images/top_separator2.jpg) no-repeat center top #f6f6f6;}
.related_section h3							{margin:0 0 0 0; padding:49px 0 22px 0; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:30px; font-weight:normal; line-height:30px; color:#505050; display:block; text-transform:uppercase; text-align:center;}
.related_slide								{width:100%; margin:0; padding:0; display:block;}
.related_slide ul							{margin:0; padding:0; display:block; box-shadow:none; border:none;text-align:center;}
.related_slide ul li                        {margin:0 0px 10px 0; padding:0; display:inline-block; }
.related_slide ul.three-items li                        {width:32.33333%; }
.related_slide ul.four-items li						{width:24.5%; }
.related_slide ul li a						{margin:14px 0 0 0; padding:0px 0 0px 0; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px; font-weight:normal; line-height:14px; color:#505050; display:block; text-transform:uppercase; background:#f6f6f6; }
.related_slide ul li small					{}
.related_slide ul li em						{margin:6px 0 0 0; padding:0px 0 0px 0; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px; font-weight:normal; line-height:18px; color:#505050; display:block;}
.related_slide ul li span img {    max-width: 100%;    display: block;}
.left_arrow1								{margin:0; padding:0; position:absolute; top:43%; left:0; float:left;}
.right_arrow1								{margin:0; padding:0; position:absolute; top:43%; right:0; float:right;}
.left_arrow1 a								{margin:0; padding:0; display:block;}
.right_arrow1 a								{margin:0; padding:0; display:block;}

.related_slide .bx-wrapper .bx-controls-direction a {height:72px; width:39px; top:40% !important;}
.related_slide .bx-wrapper .bx-prev			{background:url(../images/left_arrow1.png) no-repeat !important; left:0;}
.related_slide .bx-wrapper .bx-next			{background:url(../images/right_arrow1.png) no-repeat !important; right:0;}
.related_slide .bx-wrapper .bx-viewport		{border:none !important; box-shadow: none !important; background:none !important;}
.related_slide .bx-wrapper .bx-next			{right:-86px;}
.related_slide .bx-wrapper .bx-prev			{left:-86px;}
.related_slide .bx-wrapper .bx-viewport		{border:none; -webkit-box-shadow:none;}
.related_slide .bx-wrapper .bx-controls-direction a		{margin-top: -10px;}

.videos_section								{width:100%; margin:0; padding:0; display:block; background:url(../images/top_separator.jpg) no-repeat center top #ffffff;}
.videos_section h3							{margin:0 0 0 0; padding:48px 0 24px 0; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:30px; font-weight:normal; line-height:30px; color:#505050; display:block; text-transform:uppercase; text-align:center;}
.videos										{width:100%; margin:0; padding:0; display:inline-block;}
.videos ul									{margin:0; padding:0; display:block;}
.videos ul li								{vertical-align: top;margin:0 3px 10px 0; padding:0; display:inline-block; float:left;}
.videos ul li .video1						{margin:0; display:table;  width:250px; height:140px; padding:0;background:url(../images/detail_img1.png) no-repeat;}
.videos ul li .video1 span					{display: table-cell; vertical-align: middle; height: 100%; text-align: center; }
.videos ul li .video1 span img				{cursor:pointer;margin:0 auto;}

.videos ul li .video2						{margin:0; display:table;  width:264px; height:140px; padding:0;background:url(../images/detail_img2.png) no-repeat;}
.videos ul li .video2 span					{display: table-cell; vertical-align: middle; height: 100%; text-align: center; }
.videos ul li .video2 span img				{cursor:pointer;}

.videos ul li .video3						{margin:0; display:table;  width:264px; height:140px; padding:0;background:url(../images/detail_img3.png) no-repeat;}
.videos ul li .video3 span					{display: table-cell; vertical-align: middle; height: 100%; text-align: center; }
.videos ul li .video3 span img				{cursor:pointer;}

.videos ul li .video4						{margin:0; display:table;  width:264px; height:140px; padding:0;background:url(../images/detail_img4.png) no-repeat;}
.videos ul li .video4 span					{display: table-cell; vertical-align: middle; height: 100%; text-align: center; }
.videos ul li .video4 span img				{cursor:pointer;}
.videos ul li a								{margin:9px 0 0 0; padding:0px 0 0px 0; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:12px; font-weight:normal; line-height:14px; color:#505050; display:block; text-align:center;}

.download_pdf								{width:100%; margin:14px 0 0 0; padding:0; display:inline-block;}
.download_pdf ul							{margin:0; padding:0; display:block; text-align:center;}
.download_pdf ul li							{margin:0 4px 0 0; padding:0 0px 0 0; display:inline-block; float:none; width:332px;}
.download_pdf ul li a						{margin:0px 0 0 0; padding:14px 16px 14px 40px; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:12px; font-weight:normal; line-height:14px; color:#ffffff; display:block; background:url(../images/pdf_icon.png) no-repeat 18px center #505050;}
.download_pdf ul li a:hover					{background:url(../images/pdf_icon.png) no-repeat 18px center #353434;}

/* ---------------------------------------------------------*/

/* ------------------Fabrics page Hear ----------------*/

.banar1_content								{width:100%; margin:0px 0 0 0; padding:0; background:url(../images/fabrics_banar.png) no-repeat; border-top:1px solid #ededed;}
.banar1_in									{margin:0px 0 0 0; padding:104px 0 100px 0;}
.banar1_in h2								{margin:0 0 0 0; padding:0px 0 0px 0; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:43px; font-weight:normal; line-height:46px; color:#ffffff; display:block; text-transform:uppercase; text-align:center; background:url(../images/fabric_line.png) no-repeat center center; text-shadow: 2px 1px 3px #666;}

.product_form								{margin:0; padding:29px 0 26px 0; display:block;}
.product_form ul							{width:100%; margin:0 0 0 0; padding:0; display:inline-block;}
.product_form ul li							{width:28.5%; margin:0 0.9% 0 0; padding:0; display:inline-block; float:left;}
.select_section								{display:block; padding:0 0 0 0; margin:0 0 0 0; }
.product_form ul li a						{width:126px; display:block; padding:13px 0 13px 0; margin:0 0 0 0; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px; font-weight:normal; line-height:14px; color:#ffffff; background:#505050; text-align:center;}
.product_form ul li.searching				{width:126px; float:right;}

.fabric										{margin:0; padding:0; display:block;}
.fabric_in									{width:100%; margin:0; padding:0; display:block;}
.fabric_in ul								{width:100%;margin:0; padding:0 0 2px 0; display:block; float:left;}
.fabric_in ul li							{width:19.83%;margin:0 0.2% 0 0; padding:0; display:inline-block; float:left; position:relative; cursor:pointer;}
.fabric_in ul li a img						{padding:0; margin:0; width:100%; height:auto; display:block;}


.fabric_hover_in							{display: table; width:100%; height:99.4%; text-align: center; font-size:24px; line-height:24px; position:relative;}
.fabric_hover_inner							{display: table-cell; vertical-align: middle; font-style:normal;}	
.fabric_hover h2							{margin:0 0 0 0; padding:0px 0 8px 0; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:16px; font-weight:normal; line-height:25px; color:#ffffff; display:block;}
.fabric_hover h3							{margin:0 0 0 0; padding:0px 0 4px 0; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:13px; font-weight:normal; line-height:18px; color:#ffffff; display:block;}

.fabric_hover span							{margin:0 0 0 0; padding:0px 0 0px 0; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:13px; font-weight:normal; line-height:16px; color:#ffffff; display:block;}



/* ------------------About page Hear ----------------*/

.about										{width:100%; margin:0; padding:0; display:inline-block; background:#ffffff; border-top:1px solid #ededed;}
.about_in									{max-width:1300px; margin:50px auto 0; padding:0 0 0 0; display:block; background:#f6f6f6;}
.about_main									{margin:0; padding:0; display:block;}
.about_inner								{position:relative; margin:0; padding:0; display:block;z-index:1;}				
.about_in ul								{width:100%; margin:0; padding:0; display:block;}
.about_in ul li								{width:100%; margin:0 0 2px 0; padding:0; display:inline-block; position:relative; cursor: default;}
.about_in ul list-style: .active;           {margin:0;}
.about_in ul li img							{padding:0; margin:0; width:auto; height:auto; display:block;}
.about_in ul li .explore_lft img            {height:100%;}
figure										{margin:0; padding:0; display:block;}
.about_in ul li span   						{max-width:100%; height:210px; display:block; position:relative;}

.about_hover								{height: 100%; text-align: center; display:block; font-family:"FormataBQ", "Arial", Verdana, Tahoma;  font-weight:normal;  color:#ffffff; text-shadow: 2px 1px 3px #666; width:100%; height:100%; position:absolute; top:0; left:0;}

.about_hover_in								{display: table; width:100%; height:100%; text-align: center; font-size:24px; line-height:24px; text-shadow: 1px 0px 1px #222; z-index:999; position:relative;}
.about_hover_inner							{display: table-cell; vertical-align: middle; font-style:normal;}

.about_hover h2								{margin:0 0 0 0; padding:0px 0 10px 0; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:30px; font-weight:normal; line-height:30px; color:#ffffff; display:block; text-transform:uppercase;}
.about_hover a								{cursor: pointer;width:125px; margin:0 auto; padding:7px 0 7px 0; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px; font-weight:normal; line-height:14px; color:#ffffff; display:block; border:1px solid #fff; text-align:center;}

.about_in ul li:hover .about_hover_inner	{background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;}
.about_in ul li.active .about_hover_inner	{background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;}
.about_in ul li.active { margin-bottom:0; }
.explore									{margin:0; padding:0; display:none;}
.explore_lft								{width:42%; margin:0; padding:0; display:block; float:left;}
.explore_lft img							{margin:0; padding:0; display:block; /*width:100% !important;*/ height:auto;}
.explore_rgt								{width:53%; margin:0; padding:20px 0; display:block; float:right;position: relative;display:table;}
.explore_rgt p								{margin:0 auto; padding:0 0 0px 0; display:block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px;  line-height:18px; font-weight:normal;color:#505050; text-align:justify;}
.explore_rgt span								{
display: table-cell !important;
    vertical-align: middle !important;
	}




/* ------------------Studio page Hear ----------------*/

.studio										{width:100%; margin:0; padding:0 0 26px 0; display:inline-block; background:url(../images/sudio_bg.png) repeat-x; position:relative;}
.studio_in									{margin:55px auto 50px; padding:0 0 0 0; display:block;}
.studio_section								{width:800px; margin:0 0 0 0px; padding:0; display:block;}
.studio_section img							{margin:0; padding:0 0 11px 0; display:block;}
.properties									{margin:0 auto; padding:28px 0 0 0; display:block; background:url(../images/properties_bg.png) no-repeat top center; text-align:center;} 
.properties ul								{margin:0; padding:0; display:inline-block;}
.properties ul li							{margin:0; padding:0 17px 0 17px; display:block; float:left;}
.properties ul li a							{margin:0; padding:0; display:block;}

.properties img:hover{
	opacity:0.8;	
}

.studio_lft									{margin:0; padding:0 0 0 0; display:block; text-align: center;    position: absolute;
    top: 34%;
    left: 1%; }
.studio_lft ul								{margin:0; padding:0 0 0 0; display:block;}
.studio_lft ul li							{margin:30px 0; padding:0 22px; display:block;}

.studio_rgt									{width:305px; margin:0; padding:0 0 0 0; display:block; position:absolute; right:0; top:0; background:#505050; box-shadow:-3px 0px 5px #ccc;}
.studio_rgt h2								{margin:0 0 0 0; padding:26px 0 15px 19px; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:30px; font-weight:normal; line-height:31px; color:#ffffff; display:block;}

.fabric_rgt{right:312px;box-shadow:none;}
.fabric_rgt .list_view_in{border:none;}

.fabric_rgt .status {
    background: #fff none repeat scroll 0 0;
    box-shadow: none;
    display: block;
    margin: 0;
    padding: 20px 0 18px;
    text-align: center;
}
.fabric_rgt .list_view_in{
	height:485px;
	padding:0 0 0 7px;
}

.fabric_rgt .list_view_in ul li{
	width:32%;
	padding:0;
}

.fabric_rgt .list_view_in ul li img{
	border:2px solid #fff;
	cursor:pointer;	
}

.fabric_rgt .list_view_in ul li img.active{
	border:2px solid #515151;	
}

.fabric_rgt .dd .ddTitle .ddTitleText {
    padding: 6px 28px 6px 10px;
}

.fabric_number{
	padding:20px 20px 0 20px;
	color:#565656;
	font-size:15px;
}

.fabric_btn{
	width:40%;
	height:35px;
	line-height:35px;
	text-align:center;
	text-transform: uppercase;
	border:1px solid #000;
	display:inline-block;
	
}

.fabric_btn.active{
	background-color:#505050;
	color:#fff;	
}

.fabric_text{
	width:45%;
	height:35px;
	line-height:15px;
	display:inline-block;
	margin-left:10px;
}

.list_view									{margin:0; padding:0 0 0 0; display:block; background:#dbdbdb;}
.list_view ul								{margin:0; padding:0 0 0 0; display:block;}
.list_view ul li							{margin:0; padding:0 0 0 0; display:block; border-bottom:1px solid #969696; cursor:pointer;}
.list_view ul li a							{margin:0 0 0 0; padding:12px 0 12px 20px; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:16px; font-weight:bold; line-height:16px; color:#969696; display:block;}

.list_view_in								{margin:0; padding:0 0 0 0; overflow-x:hidden; overflow-y:scroll; height:403px; display:block; border-top:1px solid #505050;}
.list_view_inner							{margin:0; padding:0 0 0 0; display:none;background:#fff;}
.list_view_in ul							{margin:0; padding:20px 0 0 0; display:block;}
.list_view_in ul li							{width:50%; margin:0; padding:0 0 16px 0; display:block; float:left; text-align:center; border-bottom:none;}
.list_view_in ul li p						{margin:0; padding:0 0 2px 0; display:block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px; font-weight:normal; line-height:14px; color:#505050; display:block;}
.list_view_in ul li span					{margin:0; padding:0 0 0 0; display:block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px; font-weight:normal; line-height:14px; color:#a1a1a1; display:block;}
.list_view_in ul li div.active p, .list_view_in ul li div.active span{
	font-weight:bold;
	color:#669463;
}

.status										{margin:0; padding:20px 0 18px 0; display:block; background:#fff; text-align:center; box-shadow:0px -3px 8px rgba(0, 0, 0, 0.3), 0px 0px 24px rgba(0, 0, 0, 0.1) inset;}
.status a									{width:96px; margin:0; padding:0 0 0 0; display:block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px; font-weight:normal; line-height:14px; color:#a1a1a1; display:block; text-align:center;}
.status a.previous 							{margin:0 6px 0 0; padding:7px 0 7px 0; display:inline-block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px; font-weight:normal; line-height:14px; color:#cfcfcf; border:1px solid #cfcfcf;}
.status a.next								{margin:0; padding:7px 0 7px 0; display:inline-block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px; font-weight:normal; line-height:14px; color:#565656; border:1px solid #565656;}

.status a.previous.btn_pn					{ padding:7px 0 7px 0; display:inline-block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px; font-weight:normal; line-height:14px; color:#565656; border:1px solid #565656;}


/* ------------------mock page Hear ----------------*/

.mock										{width:100%; margin:0; padding:0 0 26px 0; display:inline-block; position:relative;}
.mock_in									{margin:0; padding:0 0 0 0; display:block;}

.mock_lft									{width:345px; margin:0; padding:46px 5px 0 50px; display:block; position:absolute; top:0; left:0; z-index:9; background:url(../images/map_bg.png) repeat;}
.mock_lft_in								{margin:0 0 0 0; padding:0 0 0 0; display:block;}
.mock_lft_main								{margin:0; padding:0 0 0 0; display:block;}
.mock_lft h2								{margin:0 0 0 0; padding:0px 0 13px 0; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:25px; font-weight:normal; line-height:25px; color:#505050; display:block;}

.mock_lft .jspVerticalBar .jspDrag			{background:#9a9999;}
.mock_lft .jspVerticalBar .jspTrack			{background:#e5eaee;}

.mock_rgt									{width:100%; margin:0; padding:0 0 0 0; display:block; position:relative;}
.mock_rgt img								{width:100%; height:auto;}


.mock_form									{/*width:285px;*/ margin:0; padding:0 0 26px 0; display:block;}
.mock_form ul								{width:100%; margin:0 0 0 0; padding:0; display:inline-block;}
.mock_form ul li							{margin:0 0 0 0; padding:0 9px 0 0; display:block; float:left;}
.select_content								{display:block; padding:0 0 0 0; margin:0 0 0 0; }
.select_content .dd .ddTitle .ddTitleText	{padding:6px 25px 6px 5px;}
.select_content	.dd							{border:1px solid #d9d9d9; background-color:#fff;}
.select_content .dd .ddTitle				{color:#505050;background-color:#fff;}
.select_content	.dd .ddArrow				{margin-right:3px;}

.mock_form ul li a							{width:100px; display:block; padding:13px 0 13px 0; margin:0 0 0 0; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px; font-weight:normal; line-height:14px; color:#ffffff; background:#669463; text-align:center;}
.mock_form ul li.searching					{ float:none; clear:both;display:block; padding:10px 0 0 0; margin:0 0 0 0;}

.mock_form ul li .textfield					{width:170px; font-family:"FormataBQ", "Arial", Verdana, Tahoma; margin:0 0 0 0; padding:6px 9px 6px 9px; background:#ffffff; font-size:14px; color:#c4c4c4; border:none; line-height:16px; height:auto; outline:none; border:1px solid #d9d9d9;}
.mock_form ul li label						{color:#505050; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px; line-height:14px; font-weight:500; margin:0 0 3px 0; padding:0; display:block;}

.website									{margin:0; padding:0 0 0 0; display:block;}
.website_in									{height:593px; margin:0; padding:0 0 0 0; display:block; overflow-x:hidden; overflow-y:scroll;}
.website_main								{width:285px; margin:0; padding:0 0 0 0; display:block;}
.website ul									{margin:0; padding:0 0 0 0; display:block;}
.website ul li								{margin:0 0 0 0; padding:0 0 26px 0; display:block; border-top:1px solid #b8bbbe;}
.website ul li h2							{margin:0; padding:21px 0 15px 0; display:block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:18px; color:#505050; line-height:20px; font-weight:normal;}
.website ul li p							{margin:0; padding:0 0 4px 0; display:block;  display:block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px; color:#505050; line-height:14px; font-weight:normal;}
.website ul li a							{display:block; margin:14px 4px 0 0; padding:7px 0 7px 0; display:block; font-family:"FormataBQ", "Arial", Verdana, Tahoma; font-size:14px; color:#505050; line-height:14px; font-weight:normal; border:1px solid #505050; text-align:center;}
.website ul li a:hover{
	color:#fff;
	background-color:#505050;
}
.website ul li a.web						{width:80px; display:block; float:left;}
.website ul li a.dire						{width:100px; display:block; float:left;}


.config_img_contener{
	position:relative;
	display:block;
	clear:both;
    overflow: hidden;
}

.config_img_contener img{
	position:absolute;
	top:0;
	left:0;
}

.config_img_contener .config_img{
	margin:0;
	padding:0;
}

.summary_title{
	color:#669465;
	text-transform:uppercase;	
}

.pan-to-marker{
	cursor:pointer;
}

.pan-to-marker:hover h2, .pan-to-marker:hover p{
	opacity:0.8;	
}

.no_bg{
	background:none;	
}

.white_bg{
	background-color:#fff;
}

.contact_us_item{
	background-color:#EDEDED;
	width:330px;
	height:30px;
	line-height:30px;
	border:none;
	padding-left:10px;
	margin-bottom:10px;
	margin-right:10px;
	font-family:"FormataBQ", "Arial", Verdana, Tahoma;
	font-size:13px;
}

.contact_dealer .contact_us_item{
	width:250px;
}


.btn_common {
    background: #505050 none repeat scroll 0 0;
    color: #ffffff;
    display: inline-block;
    font-family: "FormataBQ", "Arial", Verdana, Tahoma;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    margin: 0;
    padding: 9px 0;
    text-align: center;
    width: 100px;
    cursor:pointer;
}

.btn_common:hover{
	color:#fff;
}

.product_in .left_box{
	/*width:100%;*/
	float:left;
	padding:50px 0;
}

.product_in .left_box .leftbox_line a{
	font-weight:normal;
	font-size:12px;
}


.product_in .left_box  .leftbox_line.sub_line a{
	padding-left:30px;
}

    
.product_in .left_box .leftbox_line a:hover, .product_in .left_box .leftbox_line.selected a{
	color:#000;
	font-weight:bold;
	background:none;
}
/*
.ttg.product_in .left_box {
    float:none;
}*/
.ttg.product_in .cms.left_box {
    /*margin: 0 auto;*/
    /*text-align: center;*/
    padding: 0px 0px 20px 20px;

}

.plist{
	float:right;
    width: 100%;
    box-sizing: border-box;
}
.plist li img {
    max-width: 100%;
    height: auto;
}
.fabric{
	padding:50px 0;
    width:75%;
}
.fabric .fabric_in ul li{
	width:19%;
	margin:0 0 1% 1%;
	min-height:0px;
}

.product_in .fab.left_box{
	padding:40px 40px 50px 5px;
	width:19.8%;
	color:#333;
}



.fab.left_box .title {
	font-weight:bold;
	color:#000;
	text-transform:uppercase;	
	margin-top:13px;
	float:left;
}


.filter_group{
	border-bottom:1px solid #ededed;
}

.filter_header{
	height:50px;
	line-height:50px;
	cursor:pointer;
}

.fab.left_box .filter_header{
	height:40px;
	line-height:40px;
	cursor:pointer;
}

.filter_header .title{
    line-height: 15px;
    max-width: 220px;
    font-size:14px !important;
}

.filter_header .arrow{
	background:url(../images/down.png) no-repeat left top;
	width:16px;
	height:18px;
	display:inline-block;
	float:right;
	margin-top:13px;
}

.filter_group.ext .filter_header .arrow{
	background:url(../images/up.png) no-repeat left top;
}


.cms .filter_header .arrow{
	background:url(../images/expend.png) no-repeat left top;
	width:16px;
	height:18px;
	display:inline-block;
	float:right;
	margin-top:1px;
}

.cms .filter_group.ext .filter_header .arrow{
	background:url(../images/colepse.png) no-repeat left top;
}

.filter_header .clearall{
	background:url(../images/clear.png) no-repeat 45px top;
	padding-right:22px;
	height:14px;
	line-height:14px;
	display:inline-block;
	float:right;
	margin-top:12px;
}

.filter_content {
    padding: 5px 0 15px;
}

.filter_group .filter_content{
	display:none;
	margin-top:-13px;
}

.filter_group.ext .filter_content{
	display:block;
}

.fl_item{
	line-height:25px;
	text-align:left;
}
.filter_option{
	border:1px solid #ededed;
	-moz-appearance:checkbox;
}

.filter_option_label{
	cursor:pointer;
	margin-left:7px;
}

.nav_item{
	position:absolute;
	left:10px;
	top:20px;
	padding:40px 20px 20px 20px;
	background-color:#fff;
	width:370px;
	display:none;
	z-index:9999;
}

.stick_header .nav_item{
	top:30px;
}

.nav_name a{
	display:block;
	text-transform:uppercase;
	line-height:25px;
	height:22px;
	font-size:12px;
}

nav ul li .nav_name a:hover	{
	background:none;
	text-decoration:underline;
}


.list_view_in ul.c_grade{
	padding:0;
}

.list_view_in .c_grade li{
	width:123px;
	height:50px;
	line-height:50px;
	font-size:13px;
	font-weight:bold;
	color:#000;
	background-color:#fff;
	text-align:center;
	padding:0;
	margin:0;
	vertival-align:middle;
	border:1px solid #ccc;
	cursor:default;
}

.list_view_in .c_grade_btn li{
	cursor:pointer;
}

.c_grade li.active{
	color:#fff;
	background-color:#333333;
	border:1px solid #333333;
}


.c_grade li.disabled{
	color:#969696;
	background-color:#DBDBDB;
	border:1px solid #DBDBDB;
	cursor:default;
}


.list_view_in .fabric_ul{
	padding:0;
	margin:0;
}

.list_view_in .fabric_ul span{
	border:1px solid #ccc;
	padding:0;
	float:left;
	display:inline-block;
}

.item_fabric{
	width:48px;
	height:48px;
}

.fabric_content{
	display:none;
	padding-bottom:15px;
}

.fabric_content .scroll-pane{
	height:220px;
}

.fabric_nav.active  .fabric_content{
	display:block;
}

.fabric_number{
	margin: 0px 0 0 20px;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.fabric_ul span{
	position:relative;
}

.fab_active{
	position:absolute;
	left:9px;
	top:8px;
	display:none;
}

.fabric_ul span.active .fab_active{
	display: block;
}


.list_view_in .fabric_number .jspVerticalBar{
	margin:0;
}

.f-faminy{
	font-family: "FormataBQ","Arial",Verdana,Tahoma;
}

.tg_ul{
	padding:20px 0;
}

.tg_ul li{
	height:35px;
	line-height:35px;
}

.tg_ul li a{
	font-size:14px;
}

.tg_ul li a:hover{
	color:#749172;
}

.tg_ul li a span{
	display:none;
}



.reg_title{
	margin:40px 0 20px 0;
	font-size:20px;
	
}

.flist .dd .ddTitle .ddTitleText{
	padding:5px 28px 5px 5px;
	font-size:13px;
}

.flist .dd{
	width:175px !important;
	border:1px solid #ccc;
}


.product_in .flist ul li {
    display: inline-block;
    float: left;
    margin: 0;
    min-height: 0;
    padding: 5px;
}


.product_in .cms.left_box {
    color: #333;
    padding: 0px 20px 50px 0px;
    width: 27%;
    box-sizing:border-box;
    /*margin-top:20px;*/
}

.cms .filter_header {
    cursor: pointer;
    height: auto;
    line-height: 20px;
    text-transform:uppercase;
    margin-bottom:10px;
}

.cms .filter_group {
    border-bottom: 0;
    font-size:14px;
    max-width:260px;
}

.ttg.product_in {
	border-top: 0 none;
    margin: 40px auto 0px;
    /*width: 1080px;*/
}

.filter_header.teamss_sub_title{
	padding:0;
}

.noleft .plist {
    float: none;
    width: 100%;
    margin:0 auto;
}


/* ------------------press page Hear ----------------*/
.press										{padding:0; margin:0; display:block; border-top:1px solid #ededed;}
.press_in									{padding:44px 0 0 0; margin:0; display:block;}
.press h2									{padding:0 0 15px 0; margin:0; display:block; font-family:Arial, Helvetica, sans-serif; font-size:30px;line-height:30px; font-weight:normal; color:#505050; text-align:center; text-transform:uppercase; background:url('') no-repeat center bottom; letter-spacing:1px;}

.upcomming									{margin:0; padding:26px 0 52px 0; display:block;}
.press_nav									{margin:0; padding:11px 46px 10px 46px; display:block; background:#f5f5f5;}
.press_nav ul								{margin:0; padding:0; display:inline-block; width:100%;}
.press_nav ul li							{margin:0; padding:0; display:inline-block; float:left; width:33.3%;}
.press_nav ul li p							{margin:0; padding:0; display:inline-block; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; line-height:14px; color:#868686;}
.pre_nav									{background:#ffffff;}
.press_nav ul li:nth-child(2) 				{}

.event_news									{margin:0; padding:30px 0 24px 0; display:block; border-top:1px solid #c2c2c2; border-bottom:1px solid #c2c2c2;}
.event_news_in								{margin:0; padding:20px 0 26px 0; border-bottom:1px solid #c2c2c2; display:table; width:100%; }
.event_lft									{margin:0; padding:0; display:table-cell; vertical-align:middle; width:37%;}
.event_lft img								{margin:0; padding:0; display:block; width:100%; height:auto; }
.event_rgt									{margin:0; padding:0 0 0 52px; display:table-cell; vertical-align:middle; width:63%; box-sizing:border-box; }
.event_rgt h3								{margin:0; padding:0 0 24px 0; display:inline-block; font-family:Arial, Helvetica, sans-serif; font-size:20px; font-weight:normal; line-height:20px; color:#505050; text-transform:uppercase; letter-spacing:0.5px;}
.event_rgt p								{margin:0; padding:0; display:inline-block; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; line-height:19px; color:#505050;}
.event_rgt .eve								{padding:0 0 16px 0}
.block1										{}
.block2	.event_rgt							{padding:0 52px 0 0;}

.whats_new									{margin:0; padding:46px 0 24px 0; display:block;}
.whats_new h2								{padding:0 0 15px 0; margin:0; display:block; font-family:Arial, Helvetica, sans-serif; font-size:30px;line-height:30px; font-weight:normal; color:#505050; text-align:center; text-transform:uppercase; background:url('') no-repeat center bottom; letter-spacing:2px;}
.whats_new ul								{margin:0; padding:15px 0 0 0; display:block; font-size:0;}
.whats_new ul li							{min-height: 485px;margin:0 0 7px 0; padding:10px; display:inline-block; float:left; width:25%; box-sizing:border-box;}
.whats_new ul li img						{margin:0; padding:0 0 0px 0; display:block; width:100%; height:auto;}
.whats_new ul li h4							{margin:0; padding:0 0 8px 0; display:inline-block; font-family:Arial, Helvetica, sans-serif; font-size:20px; font-weight:normal; line-height:20px; color:#505050; text-transform:uppercase;}
.whats_new ul li p							{margin:0; padding:0; display:inline-block; font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:normal; line-height:19px; color:#505050;}

.furniture									{margin:0; padding:0; display:block;}
.furniture h2								{padding:0 0 15px 0; margin:0; display:block; font-family:Arial, Helvetica, sans-serif; font-size:30px;line-height:30px; font-weight:normal; color:#505050; text-align:center; text-transform:uppercase; background:url('') no-repeat center bottom; letter-spacing:2px;}
.furniture ul								{margin:0; padding:14px 0 0 0; display:block; font-size:0;}
.furniture ul li							{margin:0 0 6px 0; padding:10px; display:inline-block; float:left; width:50%; box-sizing:border-box;}
.furniture ul li img						{margin:0; padding:0 0 0px 0; display:block; width:100%; height:auto;}
.furniture ul li p							{margin:0; padding:0; display:inline-block; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; line-height:19px; color:#505050;}

.tbl{width:100%; height:100%; display:table;}
.tbl_cell{width:100%; height:100%; display:table-cell; vertical-align:middle;}
.paper1										{display:none;}
.paper3										{display:none;}
/* ------------------ End ----------------*/



#infscr-loading, .load{
	text-align:center;
}

.tg_checkout{
	font-size:13px;
	font-family:"FormataBQ", "Arial", Verdana, Tahoma; 
}

.tg_checkout th{
	color:#669463;
}

.tg_checkout td{
	padding:15px 18px 15px 0;
}

.tg_checkout input,.tg_checkout select{
	height:35px;
	line-height:35px;
	border:1px solid #aaa;
	padding-left:10px;
	width:100%;
	box-sizing: border-box;
	font-size:12px;
	font-family:"FormataBQ", "Arial", Verdana, Tahoma; 
}

.common_green{
	background-color: #669463;
}

.common_green:hover{
	background-color: #548051;
}

.common_black{
	background-color: #505050;
}

.common_black:hover{
	background-color: #3E3E3E;
}


.dark_hover{
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    text-shadow: 2px 1px 3px #666;
    top: 0;
    width: 100%;
    
   opacity:0;
   visibility:1;
}

.dark_block{
	position:relative;
	margin-bottom:13px;
	cursor:pointer;
}
.dark_hover{
	/*background:url(../images/hover_bg_in.png) repeat left top;*/
	background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    -webkit-transition: opacity 1s ease-out; 
    -moz-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
}

.dark_hover:hover {
    opacity:1;
    -webkit-transition: opacity 0.4s ease-out; 
    -moz-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
}

@media only screen and (max-width: 1024px) {
    .collection_in .dark_hover {
        opacity:0 !important;
    }
}

.fancy_item{
	position:relative;
}

.green_link a:hover{
	color:#669463;
}

.dropdown_link_cate2{
	width:90px;
	right:-50px;
	background-color: #fff;
    display: none;
    padding: 5px 20px 20px;
    position: absolute;
    top: 20px;
    z-index:1;
}

.dropdown_link_cate2 a:hover	{
	background:none;
	text-decoration:underline;
}

.item_canopy_name{
	min-height:45px;
}

.leftbox_line.main_line.has_child{
     background: rgba(0, 0, 0, 0) url("../images/expend.png") no-repeat scroll right top;
     max-width: 230px;

}

.leftbox_line.main_line.selected.has_child{
    background: rgba(0, 0, 0, 0) url("../images/colepse.png") no-repeat scroll right top;
    max-width: 230px;

} 

.filter_header.teamss_sub_title.has_sub {
     background: rgba(0, 0, 0, 0) url("../images/expend.png") no-repeat scroll right top;

}


.ext .filter_header.teamss_sub_title.has_sub{
    background: rgba(0, 0, 0, 0) url("../images/colepse.png") no-repeat scroll right top;

} 

.leftbox_line.main_line.has_child a {
     display: inline-block;
     position: relative;
    min-width: 0;
}
.filter_header.teamss_sub_title.has_sub span {
    position: relative;
}
.filter_header.teamss_sub_title.has_sub span:before,
.leftbox_line.main_line.has_child a:before {
     /*content:"";
     background-image: url("../images/expend.png");
     display: block;
     width:16px;
     height:16px;
     position: absolute;
     right:-20px;
     top:2px;*/
}

.filter_header.teamss_sub_title.has_sub span:before {  
    top: 0px;
}
.filter_header.teamss_sub_title.has_sub.selected span:before,
.leftbox_line.main_line.selected.has_child  a:before {
	/*
     background-image: url("../images/colepse.png");
     */
} 

.l_item .dark_block {
    min-height: 322px;
}

.home_txt{
    color: #ffffff;
    font-family: "FormataBQ","Arial",Verdana,Tahoma;
    font-weight: normal;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    text-shadow: 2px 1px 3px #666;
    text-transform: uppercase;
    top: 0;
    width: 100%;
}


.home_txt small {
    display: table;
    font-size: 16px;
    height: 100%;
    line-height: 24px;
    position: relative;
    text-align: center;
    text-shadow: 2px 1px 3px #666;
    text-transform: uppercase;
    width: 100%;
    z-index: 999;
    
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    /*border:1px solid #fff;*/
}

.home_txt small em {
    display: table-cell;
    font-style: normal;
    vertical-align: middle;
    line-height:40px;
}

.hide_div{
	display:none;
}

.error_msg{
	color:red;
	font-size:12px;
	line-height:16px;
	display:block;
}

.field_success {
    border: 1px solid green !important;
    border-color: green;
    outline: 0 none;
}

.success_msg{
    color:green;
    font-size:12px;
    line-height:16px;
    display:block;
}



.field_error {
	border: 1px solid red !important;
    border-color: red;
    outline: 0 none;
}

.facility-map iframe {
    width:100%;
}

.facility-map,
.facility-box {
    width:50%;
    padding:0 5px;
    box-sizing:border-box;
    float:left;
    display:inline-block;
    /*height: 340px;*/
}
.facility-map {
    float: right;
}

.facility-box .bx-wrapper .bx-pager {
    right: 10px    
}

@media only screen and (max-width: 1920px) {
    .product_in .left_box{
        padding:20px 0;
        top: 30px;
        position: relative;
    }
    /*.leftbox_line.main_line.has_child {
         background: rgba(0, 0, 0, 0) url("../images/expend.png") no-repeat scroll 300px top;
    }

    .leftbox_line.main_line.selected.has_child{
        background: rgba(0, 0, 0, 0) url("../images/colepse.png") no-repeat scroll 300px top;
    } */
    .leftbox_line.main_line > div {
        margin:0 !important;
    }

    .showroom-content-holder {
            padding: 0px 15px;
    }
    .facility-box {
        margin-bottom: 15px;
    }

}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 30px;
    margin-right: 240px;;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}

.aligning{
    text-align: right;
    float: right;
}

.quote-quote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    margin:auto;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
    width: 832px;;
}

.quote-quote:after {
    font-family: Georgia, serif;
    position: absolute;
    float:right;
    font-size:80px;
    right:0;
    bottom:-0.5em;
    content: "\201D";
    color: #7a7a7a;
    margin-right: 220px;
}


.quote-quote:before {
    display: block;
    padding-left: 35px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

.arch-quote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    margin: auto;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
    width: 626px;
    text-align: center;
}


.arch-quote:before {
    display: block;
    padding-left: 25px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -30px;
    top: -20px;
    color: #7a7a7a;
}

@media screen and (max-width: 992px) {

    .quote-quote {
        font-family: Georgia, serif;
        font-size: 18px;
        font-style: italic;
        margin: 0.25em 50px;
        padding: 0.35em 40px;
        line-height: 1.45;
        position: relative;
        color: #383838;
        width: 250px;

    }
    .quote-quote:after {
        font-family: Georgia, serif;
        position: absolute;
        float:right;
        font-size:60px;
        right:0;
        bottom:-0.5em;
        content: "\201D";
        color: #7a7a7a;
        margin-right: 25px;
        top: 205px;
    }

    .quote-quote:before {
        display: block;
        padding-left: 35px;
        content: "\201C";
        font-size: 60px;
        position: absolute;
        left: -20px;
        top: -16px;
        color: #7a7a7a;
    }

}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}

.arch-quote:after {
    font-family: Georgia, serif;
    position: absolute;
    float:right;
    font-size:80px;
    right:0;
    bottom:-20px;
    content: "\201D";
    color: #7a7a7a;
    margin-right: 165px;
    margin-bottom: -27px;

}

.button-seperated {
    width: 42%;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
    border-top: 0 none;
}

@media screen and (max-width: 992px) {
    .button-seperated {
        width: 0;
        padding: 0 65px;
        box-sizing: border-box;
        margin: 0 auto;
        border-top: 0 none
    }

}


@media screen and (max-width: 992px) {

    .arch-quote {
        font-family: Georgia, serif;
        font-size: 18px;
        font-style: italic;
        margin: 0.25em 60px;
        padding: 0.35em 40px;
        line-height: 1.45;
        position: relative;
        color: #383838;
        width: 250px;

    }
    .arch-quote:after {
        font-family: Georgia, serif;
        position: absolute;
        float:right;
        font-size:60px;
        right:0;
        bottom:-0.5em;
        content: "\201D";
        color: #7a7a7a;
        margin-right: 50px;
        top: 230px;
    }
    .arch-quote:before {
        display: block;
        padding-left: 25px;
        content: "\201C";
        font-size: 60px;
        position: absolute;
        left: -10px;
        top: -15px;
        color: #7a7a7a;
    }

}

