.login_title{
    font-size:26px;
}


.ll_title {
    font-size: 20px;
    padding-bottom: 15px;
    color:#548051;
}


.tips.login {
    color: #333333;
    font-size: 15px;
    line-height: 18px;
    margin-top: 0;
}

.ll_l, .cafg_contaier {
    color: #333333;
    font-size: 12px;
    line-height: 20px;
}


.lrc_left, .lrc_center, .lrc_right {
    float: left;
}

.lrc_right {
	float:right;
	width:460px;
	padding:20px 15px;
	height:276px;
}
.ff_js.ll_title{
	color:#333333;
	font-size:25px;
	font-weight:bold;
}

.lrc_left {
    padding: 0;
	width:460px;
	padding:20px 15px;
	height:276px;
}

.tips.login {
    color: #333333;
    font-size: 13px;
    line-height: 18px;
    margin-top: 0;
}


.pholder {
    color: #656565;
    display: none;
    font-size: 14px;
    line-height: 40px;
    padding-left: 50px;
    position: absolute;
}


.login_div .comm_input_login {
    background-color: #EDEDED;
    border: 1px solid #EDEDED;
    color: #000000;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    padding: 0 5px 0 5px;
	border-radius: 0px;
}


.require_field {
    background: url("..//images/icon-validation-required.png") no-repeat scroll 0 0 ;
    display: inline-block;
    height: 15px;
    margin-left: 8px;
    width: 15px;
}


.error {
    background-image: url("..//images/icon-validation-error.png");
}


.confirmed {
    background-image: url("..//images/icon-validation-pass.png");
}

.login_name {
    /*
	background: url("../images/email.png") no-repeat scroll 15px 13px #FFFFFF;
	*/
    border-radius: 5px 5px 0 0;
    width: 250px;
}
.login_password {
    /*
	background: url("../images/password.png") no-repeat scroll 15px 13px #FFFFFF;
	*/
    border-radius: 0 0 5px 5px;
    width: 250px;
}
.reg_password {
    background: url("..//images/password.png") no-repeat scroll 15px 13px #FFFFFF;
    border-bottom-left-radius: 5px;
}
.reg_repassword {
    background-color: #FFFFFF;
    border-bottom-right-radius: 5px;
}
.ibo_number {
    background: url("..//images/ibo-number.png") no-repeat scroll 15px 13px #FFFFFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.email_address {
    background: url("..//images/email.png") no-repeat scroll 15px 13px #FFFFFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.email_address2 {
    background: url("..//images/email.png") no-repeat scroll 15px 13px #FFFFFF;
    border-radius: 5px;
}
.firstname {
    background: url("..//images/name.png") no-repeat scroll 15px 13px #FFFFFF;
}
.address {
    background: url("..//images/address.png") no-repeat scroll 15px 13px #FFFFFF;
}
.city {
    background: url("..//images/address2.png") no-repeat scroll 15px 13px #FFFFFF;
}
.refer {
    background: url("..//images/referredby.png") no-repeat scroll 15px 13px #FFFFFF;
}
.btn_reg ,.btn_login{
     background: #669463 none repeat scroll 0 0;
    border: medium none;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-family: "FormataBQ","Arial",Verdana,Tahoma;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin: 0;
    width: 260px;
    text-align:center;
}
.btn_reg:hover {
    background: #548051 none repeat scroll 0 0;
}

.btn_login {
    background-color:#505050;
}
.btn_login:hover {
   background-color:#3E3E3E;
}


.btn_guest {
    background: url("..//images/buttons/login-button-guest.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 35px;
    width: 219px;
}
.btn_guest:hover {
    background-position: center bottom;
}



/*----------------------------------------------------------------------------------------------*/

.coi_title {
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    margin:30px 0 5px 0;
    text-transform:uppercase;
}


.leftbox_line {
}

.leftbox_line a{
    font-size:14px;
    padding:2px 7px;
}

.leftbox_line a {
    /*background-image: url("../images/subselect2.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #046938;*/
    display: block;
    font-size: 14px;
    margin: 0;
    min-width: 130px;
    padding: 3px 0;
    /*text-transform: uppercase;*/
}

.leftbox_line a:hover {
   color:#548051;
    display: block;
    margin: 0;
    min-width: 130px;
    position: relative;
    z-index: 1;
}
.leftbox_line a:active {
    color: #231f20;
    display: block;
    margin: 0;
    min-width: 130px;
    position: relative;
    z-index: 1;
}



.uc_sub_title {
    font-size: 16px;
    padding: 5px 0px 5px 0px;
}
.address_book_manager{
	margin-top:0px;
}

.cv_right{
    float: right;
    width: calc(100% - 220px);
    margin-bottom: 30px;
}

.form_line{
    line-height: 40px;
    margin-bottom: 8px;
    width:50%;
    float:left;
}

.form_line:before, .form_line:after {
    content: " ";
    display: table;
}
.form_line:after {
    clear: both;
}

.form_text{
    width: 100%;
    float: left;
    color: #333;
    font-size: 14px;
    line-height: 40px;
}

.form_field {
    padding-right:25px;
}


.form_field input {
    border: 1px solid #EDEDED;
	height: 38px;
	line-height:38px;
	margin:0px 0px 0px 0px;
	background-color:#EDEDED;
    padding-left: 10px;
    font-family: "FormataBQ","Arial",Verdana,Tahoma;
    font-size:14px;
    width:100%;
}

#id_form_for_modify_customer input {
}


#id_form_for_modify_customer select {
    width: 540px;
    display: none;
}

.form_field select {
    display: none;
    width: 540px;
}

.user_center_module_content{
    margin-bottom: 20px;
}
/*----------------------------------------------------------------------------------------------*/

.find_my_password h1{
    font-size: 26px;
    margin-bottom: 20px;
}


.red_req{
    color: #FF0000;
    margin: 0 0 0 4px;
}


.my_orders_list table th, .my_orders_list table td, .layaway_payment_list table td, .layaway_payment_list table th {
    color: #808080;
    padding: 20px 0 20px 10px;
    text-align: left;
}

.my_orders_list table th {
    border: 0 none;
    color: #000000;
    font-weight: normal;
    padding: 10px 0 10px 10px;
    background-color:#F7F7F7;
}

.my_orders_list table td {
    color: #4D4D4D;
    vertical-align: middle;
    background: none repeat scroll 0 0 #FFFFFF;
}

.my_product_llist table tr{
    border: 1px solid #CCCCCC;
}

.my_product_llist table tr:first-child{
    border: 0 none;
}

.my_product_llist table td{
    border: 0 none;
    pading:10px;
}

.icon-delete{
    background: url('..//images/buttons/icon-delete.png?1399636495') no-repeat 0 0px transparent;
    width: 19px;
    height:21px;
    display: inline-block;
}

.icon-delete:hover{
    background-position: center bottom;
}

.operation a:link, .operation a:visited{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #548051;
}

.my_product_llist .product_img_list{
    min-height: 140px;
}


/*-----------pop up -----------------------------------------------------------------------------------*/


#id_create_popup_vm_view {
    border-radius: 5px;
    z-index: 9999;
}
.shadow {
    box-shadow: 0 0 18px #666666;
}


.popup_header {
    background-color: #548051;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #FFFFFF;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
}



.popup_title {
    color: #FFFFFF;
    float: left;
    font-size: 30px;
    max-width: 860px;
    overflow: hidden;
    padding-left: 20px;
}

#id_create_popup_ex {
    background-color: #FFFFFF;
    font-size: 18px;
    padding:20px 30px;
    position: relative;
}


#id_create_popup_ex:before, #id_create_popup_ex:after {
    content: " ";
    display: table;
}
#id_create_popup_ex:after {
    clear: both;
}


.review_bg {
    background: url("..//images/buttons/detail-writereview-bg-top.png") no-repeat scroll center -65px rgba(0, 0, 0, 0);
    height: 192px;
    left: 0;
    position: absolute;
    top: 0;
    width: 930px;
}

.btn_review {
    background: url("..//images/buttons/detail-writereview-button-submit.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 45px;
    width: 205px;
}
.btn_review:hover {
    background-position: center bottom;
}


#id_form_for_modify_customer .textbox5{
	width:490px;
}

.password_fogotten a:link,.password_fogotten a:visited{
	/*text-transform: uppercase;*/
	color:#749172;
	font-size:14px;
	text-decoration:underline;
}

.password_fogotten a:hover{
	color:#548051;
}

.common_link_color a:link,.common_link_color a:visited{
	color:#548051;
}

.common_link_color a:hover{
	color:#548051;
}



#id_create_popup_vm_view {
    /*
	border-radius: 5px;
    box-shadow: 0 0 18px #666666;
	*/
    z-index: 9999;
    background-color:#fff;
}


.popup_t1 {
    height: 8px;
    width: 400px;
	display:none;
}

#id_create_popup_ex.popup_c1 {
    padding: 20px;
    width: 360px;
}

.popup_b1 {
    height: 5px;
    width: 400px;
	display:none;
}

#id_create_popup_ex {
    font-size: 18px;
	border-radius: 5px;
}

.msg_button {
    margin-top: 15px;
    text-align: center;
}



.reg_bg{
	padding:20px;
	margin-top:40px;
	position:relative;
	width:723px;
	height:300px;
	background:url("..//images/reg-bg.png") no-repeat scroll 0 0 transparent;
}


.box_label_bg {
    background: url("..//images/box-label-bg.png") no-repeat scroll right bottom transparent;
    color: #fff;
    display: block;
    font-size: 22px;
    height: 35px;
    left: 0px;
    line-height: 35px;
    position: absolute;
    text-transform: uppercase;
    top: -35px;
    width: 220px;
}

.common_border_div {
    border: 0px solid #ccc;
    border-radius: 5px;
}


.comm_border_bg {
    background-color: #fff;
    border: 1px solid #AEAEAE;
    /*
	border-radius: 3px;
    box-shadow: 0 0 4px #cecece;
	*/
    padding: 15px 15px;
    position: relative;
    width: 938px;
}


.center_content_common {
    margin: 0 auto;
    max-width: 1020px;
    text-align: left;
     padding: 15px 15px;
}

.box_label_bg img, .box_label_bg2 img {
    margin: 0 10px;
}

.user_content select {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 38px;
    padding: 2px 0 2px 10px;
    background-color:#EDEDED;
    font-family: "FormataBQ","Arial",Verdana,Tahoma;
    font-size:14px;
}

.user_content input[type="text"], .user_content input[type="password"], .user_content textarea {
    border: 1px solid #EDEDED;
	height: 38px;
	line-height:38px;
	margin:0px 0px 0px 0px;
	background-color:#EDEDED;
    padding-left: 17px;
    font-family: "FormataBQ","Arial",Verdana,Tahoma;
    font-size:14px;
    width: 100%;
    box-sizing: border-box;
}

.user_content input[type="text"].required, .user_content input[type="password"].required, .user_content textarea.required {
	-webkit-box-shadow: 0px 0px 4px yellow;
    -moz-box-shadow: 0px 0px 4px yellow;
    box-shadow: 0px 0px 4px yellow;
    -webkit-transition: background 0.3s linear;
	background-color:#fff;
}
.require_mseeage{
	color:red;
	font-size:12px;
	margin:3px 0px 0px 3px;
	display:none;
}
.regleft{
	position:relative;
	float:left;
	width:calc(100% - 10px);
	margin:0px 17px 20px 0px;
	/*padding-right:10px;*/
    box-sizing: border-box;
}

#id_wholesale_registration_form .regleft{
	width:calc(32% - 10px);
}

.regright{
	float:right;
	width:444px;
	margin:0px 0px 10px 0px;
}
.regleft input,.regright input{
	margin:3px 0px 10px 0px;
}

.regleft select,.regright select{
	margin:3px 0px 10px 0px;
	border: 1px solid #ccc;
    border-radius: 0px;
    height: 38px;
    padding: 0px 0 0px 10px;
	width:calc(100% + 10px);
}


.btn_signup {
	width:938px;
    background: url("..//images/login-button-register.png") no-repeat scroll right 0 transparent;
    display: block;
    cursor: pointer;
    height: 30px;
    margin: 0 auto;
    position: relative;
}


.require_field1 {
	position:absolute;
	right:5px;
	top:8px;
    display: inline-block;
    height: 10px;
    margin-left: 2px;
    width: 15px;
    color:#749172;
    font-weight:bold;
}

.fancybox-opened .fancybox-skin{
	background:#fff;
}

.form_field .dd .ddTitle .ddTitleText{
	padding:0;
	background-color: #ededed;
    border: 1px solid #ededed;
    font-family: "FormataBQ","Arial",Verdana,Tahoma;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    margin: 0;
    padding-left: 10px;
    margin-left: -10px;
    width:100%;
    max-width:385px;
} 

.dd .ddTitle {
    margin-left:10px;
}

.pad_last .dd .ddTitle {
    margin-left:0px;
}

.form_field .dd {
    border: none;
    border-radius: 0;
    outline: medium none;
    width:100%;
    max-width:385px;
    /*margin-left:10px;*/
}

.add_address_btn a{
	text-decoration:underline;
	color:#669463;
	
}

@media only screen and (max-width: 767px) { 
    .regleft{
        width:100%;
    } 
    
    #id_wholesale_registration_form .regleft{
		width:100%;
	}
}