/* center of page watch start */
.center_latestvideos_row {
	display: inline-block;
	width: 100%;
	margin: 10px 15px 10px 10px;
	text-align: center;
	padding: 0px 0px 0px 2px;
	border:0px solid red;
}
.center_column_three {
	float:left;
	width:220px;
	margin:0px 24px 0px 0px;
	padding:3px;
	border:1px solid #ccc;
	border-radius:5px;
	box-shadow:0px 0px 5px #888;

}
.center_column_three.end {
	margin:0px 0px 0px 0px;
}
.center_latestvideos_img {
    border: 0px solid #4D4D4D;
    height: 160px;
    margin: 0px;
    width: 220px;
	position: relative;
}
.play_btn {
    background: url(../images/video_default_float_img.png) center top no-repeat;
    height: 160px;
    margin: 0;
    position: absolute;
    width: 220px;
    z-index: 99;
	top:0px;
	left:0px;
}
.center_box_text_vidtitle {
    color: #333333;
    font-size: 14px;
    margin: 0px;
    padding: 0px 0px 5px 5px;
    text-align: left;
}
.center_box_text_vidtitle:hover {
	cursor:pointer;
}
.center_box_text_viddate {
    color: #f07b36;
    font-size: 13px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    text-align: left;
}
.center_box_text_viddisc {
    color: #333333;
    font-size: 13px;
    margin: 0px 0px 0px 0px;
    padding: 5px 0px 10px 0px;
    text-align: left;
}
/* center of page watch end */

.bartop {
	color: #000;
	font-size: 10pt;
	font-weight: bold;
	margin: 5px 0px 0px 10px;
	width: 730px;
	height: 40px;
	background: url(http://treasuregarden.com/themes/images/listing/bg-top.png) no-repeat left top;
	padding: 15px 0px 0px 0px;
	border:0px solid red;
	clear:both;
}
.bartop.latestvideos {
	color: #000;
	font-size: 10pt;
	font-weight: bold;
	margin: 0px 0px 0px 10px;
	width: 720px;
	height: 30px;
	background: url(http://treasuregarden.com/themes/images/videos+info/bg-top_watch.png) no-repeat left top;
	padding: 12px 0px 0px 6px;
	border:0px solid red;
	clear:both;
} 
.barbott {
	color: #000;
	font-size: 10pt;
	font-weight: bold;
	margin: 15px 0px 0px 10px;
	padding: 16px 0px 0px 0px;
	width: 730px;
	height: 40px;
	background-image: url(http://treasuregarden.com/themes/images/listing/bg-top.png);
}
.bartop_txt {
	color: #000;
	font-size: 10pt;
	margin: 0px 0px 0px 30px;
	padding: 0px 0px 0px 0px;
	font-weight: normal;
	float:left;
}
.bartop_txtmid {
	color: 000000;
	font-size: 10pt;
	margin: 1px 0px 0px 10px;
	padding: 0px 0px 0px 0px;
	z-index: 99;
	font-weight: normal;
	float:left;
}
.bartop_txtright {
	color: 000000;
	font-size: 10pt;
	margin: 0px 15px 0px 0px;
	padding: 0px 0px 0px 0px;
	z-index: 99;
	font-weight: normal;
	float:right;
}
.barbot_txt {
	color: #FFFFFF;
	font-size: 10pt;
	margin: 0px 0px 0px 30px;
	padding: 0px 0px 0px 0px;
	font-weight: normal;
	float:left;
}
.barbot_txtmid {
	color: 000000;
	font-size: 10pt;
	margin: 0px 0px 0px 10px;
	padding: 0px 0px 0px 0px;
	z-index: 99;
	font-weight: normal;
	float:left;
}
.barbot_txtright {
	color: 000000;
	font-size: 10pt;
	margin: 0px 30px 0px 0px;
	padding: 0px 0px 0px 0px;
	z-index: 99;
	font-weight: normal;
	float:right;
}
.arrow1 {
	margin:0px 0px 0px 0px;
	width: 30px;
	height: 30px;
	float: right;
	z-index: 3;
	cursor: pointer;
	position: relative;
	background: url(http://treasuregarden.com/themes/images/home/home_left_arrow.png) no-repeat left 0px;
}

.arrow1:hover {
	cursor:pointer;
	background: url(http://treasuregarden.com/themes/images/home/home_left_arrow.png) no-repeat left -30px;
}

.arrow2 {
	margin:0px 0px 0px 10px;
	width: 30px;
	height: 30px;
	float: right;
	position: relative;
	z-index: 2;
	background: url(http://treasuregarden.com/themes/images/home/home_right_arrow.png) no-repeat left 0px;
}

.arrow2:hover {
	background: url(http://treasuregarden.com/themes/images/home/home_right_arrow.png)   no-repeat left -30px;
	cursor:pointer;
}

.arrow3 {
	width: 30px;
	height: 30px;
	float: left;
	position: relative;
	z-index: 3;
	cursor: pointer;
	background: url(http://treasuregarden.com/themes/images/home/home_left_arrow.png);
	background-repeat: no-repeat;
	background-position: left 0px;
	margin: -30px 0px 0px 655px;
}

.arrow3:hover {
	width:30px;
	height:30px;
	cursor:pointer;
	background: url(http://treasuregarden.com/themes/images/home/home_left_arrow.png)   no-repeat left -30px;
	margin: -30px 0px 0px 655px;
}

.arrow4 {
	width: 30px;
	height: 30px;
	float: left;
	position: relative;
	z-index: 2;
	background: url(http://treasuregarden.com/themes/images/home/home_right_arrow.png);
	background-repeat: no-repeat;
	background-position: left 0px;
	margin:-30px 0px 0px 690px;
}

.arrow4:hover {
	background: url(http://treasuregarden.com/themes/images/home/home_right_arrow.png)   no-repeat left -30px;
	width:30px;
	height:30px;
	cursor:pointer;
	margin: -30px 0px 0px 690px;
}


.center_latestvideos_title{
	font-size:16px;
	font-weight:bold;
}
/*** page links **/
.pages_links{
	height:30px;
	line-height:30px;
	text-align:center;
	margin:10px 0;
}
.page_link{
	padding:0 5px;
}
.page_link.current{
	background:#f07b36;
	color:#fff;
}
a.page_prev{
	background:url(../images/buttons/left_arrow_active.png) no-repeat left 0px;
	color:#f07b36;
	padding:0 0 0 22px;
	float:left;
	font-weight:bold;
}
a.page_next{
	background:url(../images/buttons/right_arrow_active.png) no-repeat right 0px;
	color:#f07b36;
	padding:0 22px 0 0 ;
	float:right;
	font-weight:bold;
}
a.page_prev.dis{
	background:url(../images/buttons/left_arrow.png) no-repeat left 0px;
	color:#ccc;
}
a.page_next.dis{
	background:url(../images/buttons/right_arrow.png) no-repeat right 0px;
	color:#ccc;
}
